[2020-10-01 05:17] hpoul commented on #140
Another option - when dynamic website icons are enabled, we could make the big website icon on the top of the entry details into a button rich opens the website. (Without dynamic icons this would be a button to allow challenge the icon, but when we show website icons, the icon can't be changed)

[2020-10-01 05:24] SAGARSURI commented on #140
Really detailed description. This looks good. I have question regarding the swipe gesture. Is there analytics or user feedback around the UX of those swipes. If the users are happy than I don't think we should change it to reveal button but we can brainstorm around the UX by doing some research on how other apps does it.

[2020-10-01 05:45] hpoul commented on #140
@SAGARSURI damn, i missed adding analytics to the swipe gesture.. 🤦️ to be honest, I doubt that there are many users.. since i didn't document it anywhere, and it's not really discoverable ;-) but I use it quite often 😅️ so i think i'd prefer the context menu approach.. but still open for better ideas.. but it's definitely a good idea to add analytics to the swipe gestures, just gone ahead and add

[2020-10-01 05:53] hpoul commented on #63
@SAGARSURI since there is no single solution for android,ios,macos,desktop,windows .. specific solutions which are as small as possible are preferable.. i think acra also does not need a server component and can simply send emails? I think that would be a great solution for now.

[2020-10-01 06:24] SAGARSURI commented on #63
Did you check Sentry.io ?? It's supported for android, iOS, web. If that doesn't meet your needs than we can pick platform specific solutions. But maintaining all those dashboards can be a bit messy in long terms. If we have a centralised board than it would be really great.

[2020-10-01 06:44] hpoul commented on #63
I don't think sentry.io would work out for fdroid.. and.. i guess either one solution which supports *all* platforms (2/5 or 3/6 is not really worth the effort). and I seriously hope there aren't a million crashes :-) this is *only* the native part, which is very minimal anyway. Of all play store installations, there was a single crash within the last month. :-)

this issue is basically about know

[2020-10-01 07:13] SAGARSURI commented on #63
I guess you already have a solid solution for monitor crash reports. Adding ACRA won't be needed I believe. But if you insist then I can take it up 😄

[2020-10-01 18:33] hpoul commented on #140
@SAGARSURI errrr.. i just discovered that this is already implemented in https://github.com/authpass/authpass/commit/bc142c574602723a329ec8ee451552e7e6ee438b - i've even referenced this issue in that commit, but didn't resolve it .. so.. yeah.. the only thing left would be to add a context menu in the password list with a open website if we like.. ? - but in the entry details it's already done.. s

[2020-10-01 18:39] SAGARSURI commented on #140
Oh! No problem. I was about to start working on it. But luckily you said it now. So will look into some other issues where I can help.

[2020-10-02 08:31] hpoul commented on #165
thanks for pointing this out. :-)

[2020-10-02 08:31] #165 closed

[2020-10-02 08:45] hpoul opened #170 "Dark theme: Improve readability of obscured password overlay."
Either simply remove the text, or make it stand out better in dark theme. obviously make sure it also looks good in light theme as well ;-)

[2020-10-02 08:45] hpoul commented on #170
@pr-1

[2020-10-02 08:55] hpoul opened #171 "Android: Correctly handle non-persistable file permissions"
When a user opens a `kdbx` file from an external application with AuthPass, sometimes those apps do not provide persistable permissions (e.g. using the synology app or the nextcloud app(?) - i've also seen errors reported from `com.mixplorer.silver.fileProvider `).

The `FilePickerWritable` should already tell us whether we have "persistable" permissions to a file. We should correctly handle this,

[2020-10-02 09:26] Turux commented on #154
I am experiencing something similar when attempting to load a file from CloudStorage (I have tried with Google Drive). I get the following error message when attempting to insert the master password:
`Unknown error while trying to open file. type 'bool' is not a subtype of type 'String' in type cast`

I have not seen the source code (my bad) but it looks like is somehow passing the master password

[2020-10-02 09:49] michiboo commented on #152
@hgohel  Hi Can I try take a shot at this? I will try to import csv first.

[2020-10-02 10:49] hpoul commented on #152
@michiboo sure that would be awesome! 🥳 let me know if I can be of any help.

[2020-10-03 01:51] digitalcoyote commented on #117
I can add this to my AU repo (Chocolatey's recommended wayy for automatically maintaining packages). Essentially it involves an update script that checks this repo for releases and publishes a new package using that release.

[2020-10-03 02:27] digitalcoyote commented on #117
I went ahead and setup/published an app so it can get into review (review can take weeks as it is done by volunteers). If you are interested in being added as a maintainer, or taking over the package entirely, let me know and I'll help you along the way as necessary.

[2020-10-03 05:47] hpoul commented on #117
@digitalcoyote cool, thanks :-) are those update scripts public somewhere? how exactly is this working? (I have absolutely no experience with chocolatey, except skimming through the docs page) 😅️ -- how do you check for the latest setup exe?

Also, what is the convention for pushing updates to the end user? Does chocolately update apps as well, or should apps still contain an update checker themse

[2020-10-03 09:48] Leptopoda opened #175 "(WebDAV) error on 301 redirect"
Version 1.8.7+147 (fdroid)

My nexrcloud is behind cloudflare which ridirects http to https.
I entered the webadress with http (http://cloud.example.tld/remote.php/dav/files/user/)
A error was displayed because of the redirect.
It's solved when entering https and works fine.

Is this intended? Seems like a bug to me.
(I'll relink it later and add the error message)

[2020-10-03 10:12] hpoul commented on #175
good question.. We should probably just enforce `https` altogether, otherwise you are essentially transmitting plain text passwords (if your server uses basic auth instead of digest auth).

I'm not sure i'd feel comfortably following all redirects, because we are essentially blindly sending passwords to whatever we are redirected to. So if the user has some typo, it's probably better to fail than

[2020-10-03 10:15] Leptopoda commented on #175
I think enforceing encryption would be the best.
It's not a critical bug as it was mor my error (dunno why nextcloud gave me the http address in the first place)

[2020-10-03 15:09] digitalcoyote commented on #117
Package & Update Source: https://github.com/digitalcoyote/chocolatey-packages/tree/master/authpass

Update.ps1 (and the [AU powershell module](https://github.com/majkinetor/au)) handle checking this repo for new releases:

1. Downloads the releases page
2. Parses out all links
3. Uses regex `'\/authpass\/authpass\/releases\/download\/v\d{1,4}\.\d{1,4}\.\d{1,4}\/authpass-setup.*\.exe$'` to find the

[2020-10-03 15:31] hpoul commented on #117
@digitalcoyote thanks for the detailed explanation. You mentioned that the review will take some time - did you already submit it? can the progress be seen somewhere? :-)

re update: Just wanted to make sure AuthPass follows the best practice of the packaging manager.. I've never used chocoately before (except for trying to package AuthPass, and failing miserably ;-) ) so i have no idea what "comm

[2020-10-03 15:37] brot opened #176 "Add YubiKey support"
Currently I'm using [KeePassXC](https://keepassxc.org/project/) on my desktop and it would be great to be able to unlock the key file with the YubiKey also on iOS/Android

[2020-10-03 15:41] hpoul commented on #176
Do you have any more details/documentation how KeePassXC has implemented YubiKey? What exactly do you mean with unlock the key file? So you have a master password, key file AND YubiKey? :-)

[2020-10-03 15:49] digitalcoyote commented on #117
I normally post a link to the package that was submitted. I must have forgotten last night https://chocolatey.org/packages/authpass/1.7.8

I'm actually a Linux Mint user myself (Windows VM), but I have to use Windows for work and testing my own projects. I got started with Chocolatey because I couldn't stand having to go hunt down new versions every week when I'm used to my package manager handlin

[2020-10-03 16:04] brot commented on #176
To unlock the key file with a YubiKey you will need the master password and the YubiKey. On the [KeePassXC FAQ site](https://keepassxc.org/docs/#faq-yubikey-2fa) there you will find more information.

There are at least two iOS Apps which supports the Yubikey on iOS
* [Strongbox](https://strongboxsafe.com/support/#reamaze#0#/kb/yubikey/how-do-i-create-a-yubikey-protected)
  * more information in a

[2020-10-03 16:27] hpoul commented on #176
hmm.. thanks for the links.. 👍️ although I couldn't quite find an obvious description of how the challenge keepassxc uses actually looks like. It's definitely something worth considering. Right now not really a high priority for me personally, would be happy to support anyone who wants to give it a try though ;-)

If you could provide exact details how the challenge/response would have to be imple

[2020-10-03 16:42] PatrikKoscelansky commented on #157
@hpoul I started working on this and I have a question: after I load a .png file, I want to create a KdbxCustomIcon, that I'd like to save to the file later. When creating KdbxCustomIcon, should I use KdbxUuid.random() to get new uuid, or should I obtain this uuid from somwhere else?

[2020-10-03 17:21] hpoul commented on #157
@PatrikKoscelansky 👍️ yep, `KdbxUuid.random()` is the right way.

[2020-10-04 20:17] requiem958 opened #177 "Android, Webdav, self signed certificate, handshake error"
# Problem
When using Authpass  on Android, we cannot connect to a https webdav server which used a self-signed certificate, even if the certificate is present on the device.

## System & App information

* Authpass v 1.7.8+147 from F-Droid
* Android 9 on LG G6

# How to reproduce

1. Setup a webdav server with self signed certificate.
2. Add the certificate in your Android device ("Security and Lo

[2020-10-04 20:35] hpoul commented on #177
I just looked how this could be implemented. I have no idea why installed certificates aren't picked up (maybe we should investigate and file an issue with dart (or flutter?))
The http package we use also does not expose a method to allow a custom certificate :-/ https://github.com/dart-lang/http/issues/458 - but as described in this issue we could override it with a custom dart:io `HttpClient` an

[2020-10-05 09:56] tnedich opened #178 "Unexpected Error: type 'bool' is not a subtype of type 'String' in type cast"
**OS:** Win 10 Pro
**Authpass version:** AuthPass 1.7.8 Build 1552

When trying to open file from Google Drive this problem occurs:

`Unexpected Error: type 'bool' is not a subtype of type 'String' in type cast.`

It seems that this error happens all trough the app (For me).

[2020-10-05 10:21] hpoul commented on #178
Seems to be related to #154 - can you please see if you have a log file in overflow menu -> About
If not, can you try to open AuthPass.exe through command line, whether you see some log output?

otherwise maybe try the latest beta version: https://data.authpass.app/data/artifacts/AuthPass-setup-1.7.9_1589.exe .. if this also doesn't work you might have to downgrade to https://data.authpass.app/dat

[2020-10-05 14:33] tnedich commented on #178
Unfortunately there is no Log file. When I run it trough cmd no log output. Do I need to run it with some flag.

[2020-10-05 14:47] tnedich commented on #178
Same in version 1.7.9 Build 1589

[2020-10-06 06:47] hpoul commented on #162
fixed in #172 by @stalkopat 🎉️

[2020-10-06 06:47] #162 closed

[2020-10-06 10:19] hpoul opened #181 "Cloud Storage: Improve handling of expired tokens"
Right now an error dialog is opened, which is not very helpful. We should at least log the user out, maybe show a nice error message, etc.

[2020-10-06 22:32] ldmpub commented on #150
+1 for this feature, it would be helpfull to ease user to use complexe passwords stored in the app by allowing a "temporary copy through the clipboard" (at least under Android where it's not easy to perform a select, copy, switch then finally past).

Thanks,

[2020-10-07 06:16] hpoul opened #182 "Android File Picker: Fallback for unsupported OPEN_DOCUMENT intent"
There have been some reports of android devices not having an app pre installed which support `OPEN_DOCUMENT` intent. We should provide a fallback using `ACTION_GET_CONTENT`

This can be easily worked around by users by installing an app supporting this intent (e.g. https://f-droid.org/en/packages/me.zhanghai.android.files/ )

But the file picker should probably just fall back to `ACTION_GET_CONTE

[2020-10-07 10:44] drfanatic commented on #178
Same here, for Authpass version 1.7.8 Build 1552 and 1.7.9 Build 1589.

[2020-10-07 19:34] #170 closed

[2020-10-08 13:21] PatrikKoscelansky commented on #157
hi @hpoul . I'm almost done. I managed to implement adding of new custom icon and changing to them (for entries). Looks like this (looks weird, because I picked weir png file):

![image](https://user-images.githubusercontent.com/30245783/95462258-8f9b2600-0977-11eb-88d7-56b009ed45c0.png)

During the implementation I came across a problem that was causing error when trying to save newly picked cust

[2020-10-08 14:08] hpoul commented on #157
@PatrikKoscelansky 👍️ great to see you made progress, regarding `set customIcon`: i think it should be an `} else {` .. otherwise, with your current code it would not be possible to remove a `customIcon`. regarding the invalid argument: not sure either, can you show me the full stacktrace? Although I'm not sure it's valid to set it to `null` .. i think I should just keep both. at least KeePassXC s

[2020-10-09 12:02] hpoul commented on #154
@Trekky12 btw did you try to run the latest AuthPass master version in an ide on windows? I have no way to debug this

[2020-10-09 18:10] TomerPacific commented on #171
@hpoul , I'd like to help out. I will appreciate it if you can elaborate more on what solution is necessary and what you are expecting.

[2020-10-09 18:25] hpoul commented on #171
@TomerPacific cool, would be awesome. Sure, are you an android user / do you have experience with android development? (I think on iOS the same problem would exist) - but basically if you open a `.kdbx` file from an external file manager.. (maybe try the mentioned `com.mixplorer.silver.fileProvider`) sometimes AuthPass only gets one-time file handles from which to read in the current session, but

[2020-10-09 19:09] fialky commented on #178
Just a confirmation of this error when you try to create or open a key database on Windows 10 x64 with AuthPass-setup-1.7.8_1552:

1) Unexpected Error: type 'bool' is not a subtype of type 'String' in type cast
2) Error while running task
    type 'bool' is not a subtype of type 'String' in type cast

[2020-10-09 19:19] hpoul commented on #178
It would be awesome if any windows user could try to start this through a development environment to get logs.. I don't have a windows machine at hand.. it should simply work by getting the [latest flutter dev channel](https://flutter.dev/docs/development/tools/sdk/releases?tab=windows), installing [visual studio 2019](https://flutter.dev/desktop#additional-windows-requirements) - [enabling deskto

[2020-10-09 19:21] fialky opened #184 "Support for groups moving up/down and upper/deeper"
In AuthPass password group can not be moved up or down nor to upper or deeper group.

Example:
- Root
-- YourPasses
-- MyPasses

If you want to change sorting (like below) with drag&drop it is not possible:
- Root
-- MyPasses
-- YourPasses

P. S. I tried it on Android and Windows - same behavior.

[2020-10-09 19:35] hpoul commented on #184
well you can actually move groups to a different parent group:
![2020-10-09 21-28-30 gifcask 2020-10-09 21_32_01](https://user-images.githubusercontent.com/313066/95624310-f2bfb200-0a76-11eb-8003-5c2cca63dcc9.gif)

although i'm not sure if it's a bit buggy.. 🤔️ might need some more testing..

regarding sorting: I actually thought that I'd be sorting alphabetically 😅️ which is clearly not the case.

[2020-10-09 20:00] fialky commented on #184
Hi Herbert, thank you very much for that animated how-to and all your kind work on AuthPass. This feature was hidden for me before and it works. With this trick it is also possible to change a vertical position (if one group is moved to a different place and then back it will be in the bottom).

Alphabetical sort would be great but it should be available as an option to turn it on/off by the user.

[2020-10-09 20:10] TomerPacific commented on #171
@hpoul , thanks for the quick reply and the thorough explanation. My background is being a Mobile developer, but I am not that fluent in Flutter. I want to verify that I understand the steps to reproduce this issue correctly:

1. Download AuthPass to an Android device
2. Create a .kdbx file
2.  Use the  com.mixplorer.silver.fileProvider application to open it
3.  Shut down/restart device (or AuthP

[2020-10-09 20:26] hpoul commented on #171
@TomerPacific exactly.. ad 4) just restarting AuthPass is enough (swiping it away from the recents, or just tapping 'back' until it closes), ad 5) yep, selecting the .kdbx file from the "recents" within authpass.

(I haven't used that file manager myself yet though.. sometimes, it's possible that there are two modes like 'Open with xxx' and 'Export to ...' - and one would offer persistable permiss

[2020-10-10 14:12] hpoul opened #186 "Allow to remove files from the "recent files" list"
Right now there is no way to remove files from the list of recents

The easiest way would be to display a dialog/menu on long-press with a "delete" option.

[2020-10-12 19:59] TomerPacific commented on #171
@hpoul , it has taken me some time to set up my development environment. Trying to recreate the issue, I see that the application you want to open the kdbx file with costs money.

https://play.google.com/store/apps/details?id=com.mixplorer.silver&hl=en&gl=US

Is this the right application?

[2020-10-12 20:50] hpoul commented on #171
@TomerPacific um.. i've never tried it, just had the ID from a user report.. although since it was an f-droid user I would *highly* doubt that he paid for the app.. anyhooo.. you can also try other apps.. for example i've used the samsung "internet" browser to download https://github.com/authpass/authpass/blob/master/_docs/screenshot_example.kdbx and then opened it with authpass.. then killed auth

[2020-10-12 21:59] fialky commented on #178
Thank you for your steps, After last command I ended with this text:
.
.
.
flutter: 2020-10-12 23:45:42.061686 FINER analytics - (noop) screen(/onboarding)
flutter: 2020-10-12 23:45:42.211709 WARNING biometric_storage_win32 - Error: 0
### WindowsException: Error 0x00000000: The operation completed successfully.
Syncing files to device Windows...                                 484ms

Flutter run k

[2020-10-12 22:17] hpoul commented on #178
@fialky thanks for giving it a shot.. it's weird that the debug exe can be launched, but it won't start with `flutter run -t lib/env/development.dart` can you try it a second/third time, if anything changes? Have you tried accessing the linked observatory debugger from the output? 🤔️

[2020-10-12 23:08] fialky commented on #178
Great, I am able to start it with that command. But in About dialog... _Log file: No Log File?!_ I attach stdout - does it help? I have installed VSCode and something running in it too. If you know where approximately, I can put some breakpoints there :-).
[stdout_log_01.txt](https://github.com/authpass/authpass/files/5368042/stdout_log_01.txt)

[2020-10-13 18:21] hpoul commented on #178
@fialky thanks for the detailed debugging and sorry for the late response - i have updated a few dependencies for the desktop embedder, maybe you could give this build a try: https://data.authpass.app/data/artifacts/AuthPass-setup-1.7.9_1601.exe (or update from master, run `flutter pub get` and try again).

[2020-10-13 18:41] Trekky12 commented on #154
@hpoul actually the error is still in the lastest master version.

You can find the logfile here:
[code]

[2020-10-13 18:59] fialky commented on #178
Nice job! AuthPass-setup-1.7.9_1601 works well on Windows - creating and opening kdbx works both. One minor issue: You have to open it twice. First run - nothing happens (no authpass process in the task manager). Second run - the application appears (authpass process in the task manager presented). If you close it, then you have to open it two times again. (But it could be cuased by flutter itself

[2020-10-13 19:02] hpoul commented on #178
@fialky thanks for testing.. hmm.. i would suspect that there is still some crash hidden somewhere.. my suspicion is is reading the win32 credential store: https://github.com/authpass/biometric_storage/blob/master/lib/src/biometric_storage_win32.dart#L79-L83 (or better said the cleanup after trying to read, and failing) .. maybe it's wrong to `free` those pointers when reading was not successful..

[2020-10-13 19:30] Trekky12 commented on #154
Unfortunately I tested the version before your last commit, sorry! I will try to test the lastest version in the next days 👍

[2020-10-15 09:42] hpoul commented on #154
I think we'll merge this together with #178 - to avoid duplicating things i'm closing this, let's continue the discussion in #178

[2020-10-15 09:42] #154 closed

[2020-10-15 09:47] hpoul commented on #178
@fialky can you reproduce this also in debug mode with `flutter run`? it would be interesting to see the debug output. i'll add even more debugging and try to fix it in the package.. but i can't reproduce it in the package alone..

[2020-10-15 18:12] fialky commented on #178
Is it possible to reach you privately by some messenger or by e-mail? I would like to help but without deep knowledge I am clumsy with complex Flutter environment. So, quick share screen session (e.g. MS Teams event) should be very effective and you can get everything what you wish :-). The extraction of relevant steps can be put here later.

[2020-10-15 19:16] hpoul commented on #178
i'm usually on the discord channel https://authpass.app/go/discord (email is also okay herbert@authpass.app) .. I usually prefer async communication ;-) but let me know what the problems are and i'll try to help

[2020-10-16 11:29] wtsiamruk commented on #186
Can I try to implement that, although it may be hard without Flutter experience :)

[2020-10-16 11:33] hpoul commented on #186
@wtsiamruk sure, would be great ;-) Have you looked at the [CONTRIBUTING.md](https://github.com/authpass/authpass/blob/master/CONTRIBUTING.md)? it should help get you started to get authpass running in the IDE, let me know if you need any help..

[2020-10-16 14:31] ptanmay143 commented on #117
@hpoul We can close this issue now. :+1:

[2020-10-16 14:50] Trekky12 commented on #178
Hey @hpoul, I tried to run the current master state with `flutter run` and it is opened after the build process without problems.

There is only a warning regarding the (missing?) biometric storage:
[code]
I can send you the logfile if you need it.

I have also created a build from the current master and the application is opened without a second try.

[2020-10-16 15:49] hpoul commented on #178
@Trekky12 thanks for testing.. that "error" is pretty strange.. because the error code 0 is "success".. https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-

[code]

but I do have the feeling that dart/flutter is doing something strange in `if` statement.. my theory is that the `if` statement itself issues some kind of system call which resets `GetLastError()`.. we might

[2020-10-17 10:11] hpoul commented on #117
I somehow missed completely that it was approved :-) I've just released 1.7.9 - let's see if it is picked up (as far as i understand it, it should happen automagically?) .. and then i'll close it and merge the website PR as well https://github.com/authpass/authpass.app-website/pull/3

[2020-10-17 14:35] digitalcoyote commented on #117
It runs ~about every 12 hours to look for updates to packages. I went ahead and triggered an early check, so it should be updating now.

[2020-10-17 14:45] digitalcoyote commented on #117
https://chocolatey.org/packages/authpass#versionhistory shows that it's been submitted. Unfortunately, until the package is "trusted" it has to go through review with each version.

[2020-10-17 15:53] hpoul commented on #117
@digitalcoyote ok cool thanks :-) is there something we can/should do to get "trusted" or is it just a matter of having enough accepted versions?

[2020-10-17 16:12] digitalcoyote commented on #117
I have several trusted packages, so it should happen eventually. Normally
it requires the software author to be the one who creates/maintains the
software. They partially need to verify that the update process is reliable.

On Sat, Oct 17, 2020, 10:54 AM Herbert Poul <notifications@github.com>
wrote:

[2020-10-19 17:01] fialky commented on #178
Hello @hpoul new messages from me finally. I made these updates today and a lot of problems disappeared. (Hence, I postponed a private message.)

1. flutter upgrade
Flutter 1.23.0-19.0.pre.100 • channel master • https://github.com/flutter/flutter.git
Framework • revision 4e2f82cf93 (75 minutes ago) • 2020-10-20 00:19:48 +0900
Engine • revision d03b759d04
Tools • Dart 2.11.0 (build 2.11.0-229.0.dev

[2020-10-19 19:17] hpoul commented on #178
@fialky as the error tries to indicate, you have to run with `lib/env/development.dart` (or any `lib/env/*.dart`), not `lib/main.dart` .. ie you must use the `-t` flag for `flutter run/build`.

[2020-10-20 06:49] fialky commented on #178
Ah, OK. So, which exact command should be used for a production build (not debug build)?

[2020-10-20 09:01] hpoul commented on #178
@fialky `flutter build windows -t lib/env/development.dart` can be used for a "release" build.. the difference is just API secrets (google drive, dropbox, one drive) and e.g. google analytics tracking id.. if you care about those you would have to sign up for api keys and configure them accordingly by creating your own `Env` subclass

[2020-10-20 09:26] hpoul opened #188 "Android: Show banner to users to suggest activating autofill"
Most users seem to not know that AuthPass on android supports autofill.
At least for Android >= 10 we should probably display a banner in the password list, similar to other banners already implemented if the user has not yet configured AuthPass as password manager.

[2020-10-20 10:53] hpoul commented on #157
implemented in #187 🥳

[2020-10-20 10:53] #157 closed

[2020-10-20 15:21] hpoul opened #189 "Linux: font does not display unicode characters"
![Screenshot_20201020_165251](https://user-images.githubusercontent.com/313066/96607343-8e171980-12f8-11eb-9751-55036a67cdb4.png)

From discord

[2020-10-20 17:33] fialky commented on #178
Thx, release build made with your command runs well. (The main difference is in produced data/app.so file. Your command `flutter build windows -t lib/env/development.dart` made 12,9 MB app.so file. If I replace previous 733 KB app.so [generated by `flutter run --release`] file with the bigger one Authpass runs well without blank white screen anymore.)

[2020-10-20 17:46] hpoul commented on #178
@fialky perfect  👍️ , thanks for the thorough testing. Yeah, I think this should solve this problem :-) (i think the current master should be basically the same as the released `1.7.9` from a few days ago.. so let's hope that this makes AuthPass usable on windows again ;-)

[2020-10-20 17:46] #178 closed

[2020-10-21 07:11] TobiasDev opened #190 "UX Suggestion: When at the top and swipe upwards, go into search"
Since phones are just getting bigger and bigger I find that I can't reach the "Search" icon without moving my hands or use both (I have small hands). Therefore I would like to suggest that if I'm already at the top of my KeePass list and try to scroll up it goes into search mode and open my keyboard. That way I could easily access search even with one hand.

[2020-10-21 07:17] hpoul commented on #190
Interesting idea.. I can relate to the problem.. I'm not sure about the solution though.. scrolling up the top is usually related to refreshing the list? 🤔️

btw. i think going forward i would like to try to discuss ideas (vs specific implementation tasks/bugs) more in the forum: https://forum.authpass.app/c/feature-discussions/7 .. my hope is that more non-technical users would join the discussio

[2020-10-21 09:23] TobiasDev commented on #190
Oh, sorry! I didn't see that you had a forum! Of-course, that is a way better location.

And I do agree with the "referesh" part, I didn't actually think about that... But now that you say it of-course that is what it usually does and when you use "Web-dav" that is def. something you will want to do. Hmm, maybe doing a bottom-bar like a lot of new apps do (Deezer, Firefox, etc.), but that can be a

[2020-10-21 10:44] hpoul commented on #190
👍️ didn't you get the in-app banner? :-D (probably not displayed for f-droid users though)
anyway, i've now added issue templates to link to the forum :-) https://github.com/authpass/authpass/issues/new/choose

[2020-10-21 17:01] jbash opened #191 "AuthPass won't talk to certain DAV servers because of newly-fixed bug in http_auth package"
**Describe the bug**

Depending on the exact order and format of the server's WWW-Authenticate headers, AuthPass may fail to negotiate an authentication method, even if the server offers one of the supported methods. The error message displayed is "`Unsupported authenticate scheme` *some-misparsed-string*.

This is caused by a third party library issue (marcoesposito1988/http_auth/#8) in the http_

[2020-10-21 18:07] TomerPacific commented on #171
@hpoul , sorry for responding after a while. I am having a hard time recreating the crash.
I am looking into areas in the code where the crash might happen from so I can understand where it is needed to make amendments.

[2020-10-21 18:09] hpoul commented on #191
👍️ Wow, the best bug report ever 🎉️ thanks for the details and getting it fixed in `http_auth` :-)

I've updated the dependency, didn't have time to test yet, if you feel experimental maybe you can give this one a try: https://data.authpass.app/data/artifacts/authpass-sideload-1.7.11_1621.apk (it has a separate package name, so can be installed together with the f-droid build).

[2020-10-21 18:12] hpoul commented on #191
ups, that was too fast, wait 3 minutes, will be available as https://data.authpass.app/data/artifacts/authpass-sideload-1.7.11_1622.apk

[2020-10-21 18:53] hpoul commented on #171
@TomerPacific I can easily reproduce this with firefox.. here is a screecast: https://youtu.be/qf8bCL2glIY sorry for it being sooooo sloooowww.. it seems my old phone plus screenrecording is grippling slow.. let me know if this clears things up.. simply try to download the kdbx file with firefox, open it directly from firefox with AuthPass. . once it is open, just kill AuthPass (swipe away from `r

[2020-10-21 20:42] hpoul commented on #190
Well, thinking about it.. except moving the search box to the bottom vs the top (like you said, firefox).. we could change the floating action button from just being "create new password" to offer more actions..

<img width="295" alt="Screen Shot 2020-10-21 at 22 41 29" src="https://user-images.githubusercontent.com/313066/96785142-ab2e1400-13ee-11eb-93bb-9b1524fc7ae9.png">

when there are multipl

[2020-10-21 21:26] jbash commented on #191
It works for me.

[2020-10-21 23:43] hpoul opened #192 "Update linux app scaffold"
There have recently been quite some changes to the linux app template in the flutter master channel, e.g.:

* https://github.com/flutter/flutter/pull/68452
* https://github.com/flutter/flutter/pull/66519

so it would probably be a good idea to update the linux app template once this lands in the dev channel.

[2020-10-22 11:54] TobiasDev commented on #190
Yeah, that would def. improve things. It's really only since I need to "struggle" to reach the top. :D

[2020-10-23 21:18] apwrv commented on #152
Psono password manager exports in JSON.

[2020-10-24 08:56] hpoul commented on #152
@apwrv well, no need to export from KeePass :-) just use the kdbx 🤔 - could you maybe share a sample json with dummy data?

@michiboo are you still working on this? Do you need any help?

[2020-10-24 09:30] teemue opened #193 "Authentication error on android when using biometrics"
**Describe the bug**
When trying to open a database file with biometric option checked, right after reading fingerprint AuthPass throws an error saying
Unable to open file
Unknown error while trying to open file. AuthException{code: AuthExceptionCode.unknown
message: Unexpexted authentication error. the master key android-keystore://QuickUnlock_master_key exists
but is unusable)

The database open

[2020-10-24 09:31] hpoul commented on #193
is it possible that you had an earlier version of AuthPass installed previously, uninstalled it, and later installed this newer version?

[2020-10-24 09:41] teemue commented on #193
I did, like months ago

[2020-10-24 09:45] hpoul commented on #193
@teemue i recently discovered a bug that the old encryption keys were stored in the android backup - after uninstall/install those were restored, but no longer readable (since they are encrypted by a device provided key). Since this version the backup is disabled completely. So could you try to remove the app again and reinstall it? I hope this also clears the backup.

[2020-10-24 09:54] teemue commented on #193
I cleared data and cache of authpass and then  removed it and reinstalled (via f-droid as before), it still gives the same error.

[2020-10-24 10:14] hpoul commented on #193
can you please share your log file? (overflow menu -> 'Email Support'), this will bring up an email composer with the log file attached, you can just send it to the support address (or to yourself if you want to inspect the contents first) - thanks

[2020-10-24 10:18] teemue commented on #193
Sure! Just did

[2020-10-24 10:26] hpoul commented on #193
thanks - btw. did you also try to delete data *after* the installation, or only before uninstall 😅️

[2020-10-24 10:48] teemue commented on #193
Both,actually:)

[2020-10-24 15:29] AndrewPrzelucki opened #194 "Fedora 32 x86_64 Linux and Snap: cannot open database."
Installed via Snap, app opens up, settings accessible, but when I select my keepass database and my key file, I get an error message (including screenshot).

My OS is Fedora 32 x86_64. Installed this app from Snap with default "Discover" (preinstalled by Fedora distro) software installation app.

I tried to reopen the same database with KeePassXC and it works, database is fine.
![Screenshot_202010

[2020-10-24 15:32] hpoul commented on #194
Hi, can you please check the about menu, it should show the path to a log file - maybe you can share this? herbert@authpass.app

[2020-10-24 15:54] hpoul commented on #194
seems i forgot to publish 1.7.9 to stable - can you please update and try again? (I assume you were using 1.7.8)

[2020-10-24 18:01] marafa opened #195 "fedora 32 - irritating popup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. new user. so i downloaded the tarbal
2. untarred and ran authpass
3. this pop up is on every screen i click on. i added a google drive kdbx and must have seen this 4 times.

**Expected behavior**
pop up does not show up

**Screenshots**

![Screenshot_20201024_135519](https

[2020-10-24 18:05] hpoul commented on #195
do you have gnome keyring installed?

[2020-10-24 18:08] marafa commented on #195
Absolutely not
I am a KDE user and used the Fedora KDE live cd to install my OS

On Sat, Oct 24, 2020, 2:06 PM Herbert Poul <notifications@github.com> wrote:

[2020-10-24 18:18] hpoul commented on #195
do you have ksecretservice installed? or any other implementation of secret service dbus? https://specifications.freedesktop.org/secret-service/latest/

[2020-10-24 20:17] marafa commented on #195
kwallet is installed and enabled

[2020-10-24 21:06] hpoul commented on #195
unfortunately I have no experience with kwallet - are you sure it implements the `org.freedesktop.secrets.service` d-bus protocol? AuthPass currently uses [libsecret](https://developer.gnome.org/libsecret/) to store authentication tokens for cloud storage to avoid unencrypted storage.

[2020-10-24 21:32] AndrewPrzelucki commented on #194
Updated snap and it works now.

[2020-10-24 21:32] #194 closed

[2020-10-24 21:57] hpoul commented on #194
Great, thanks for testing :-)

[2020-10-25 08:28] hpoul commented on #193
this is very weird.. and i also missed the root cause

[code]

the funny thing is, I've just got the same error in an emulator. But the fix was to add a new fingerprint into the settings, which immediately solved the issue 🤔️ I'm a bit bummed that you already tried this..

could you maybe try out another build, either play store or https://data.authpass.app/data/artifacts/authpass-sideload-1.7.10_

[2020-10-25 08:40] hpoul commented on #190
I've created a poll in the forum 😅️ https://forum.authpass.app/t/password-list-bottom-shortcut-to-enter-search/28

let's see if we can get a few opinions on that :-)

[2020-10-25 09:45] teemue commented on #193
Not working. Steps I proceeded:

1. Remove data & cache
2. Remove previous AuthPass installation
3. Install AuthPass from the app link you provided
4. Open database -> the same error
5. Remove and add fingerprints again
4. Open database -> the same error

I tried creating a new database with AuthPass but no luck.

[app.log.txt](https://github.com/authpass/authpass/files/5434384/app.log.txt)

[2020-10-29 05:02] Nadyita commented on #30
I'm on the latest MIUI 12.0.2 on a Pocophone F1 and experiencing the exact same behaviour: if I click the autofill, nothing happens. Forcefully closing/stopping it doesn't change anything.

[2020-10-29 07:44] hpoul commented on #30
@Nadyita in which apps did you try it? do you by chance have the possibility to attach it to a PC with android dev tools to see if there is anything in the log files?

[2020-10-29 08:50] hpoul commented on #156
@therealansh are you still working on this issue?

[2020-10-29 08:51] hpoul commented on #143
@priyanshu0405 are you still working on this issue?

[2020-11-01 12:46] Nadyita commented on #30
@hpoul It happens with both, Firefox and Chrome. I'm sure I can attach it, just tell me how to get the logs

[2020-11-07 06:06] aahnik opened #199 "Attachments show up late, after removing go away late. Huge lag"
**Description**
Related to #64.
When we add attachments they do not appear immediately. There is a lag.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Authpass app and open a database
2. Click on Add New Password
3. Scroll down to the bottom of the page, where we have the add an attachment button.
4. See a delay

**Expected behavior**
Attachments appear immediately after they are

[2020-11-07 06:25] aahnik opened #200 "Pressing Ctrl+Shift opens up a browser window."
**Describe the bug**
Pressing Ctrl+Shift opens up a browser window, preventing me from screencasting and screenshotting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **authpass app** and open a database
2. Click on **add new password**
3. Press Ctrl + Shift
4. See a browser window popping up. And at the bottom of the authpass app shows `Opened URL:`

I was reporting another bug in au

[2020-11-07 06:36] aahnik commented on #199
I now observed that the attachments show up after clicking the save icon on the top right corner. But the save icon itself shows up at much delay.

I a normal app, it is expected that attachments show up immediately after selected from the file manager.

And the value of the size of the attachment is not shown. Instead, we get `{count}` bytes.

See gif below:

![apasll](https://user-images.githubu

[2020-11-07 07:09] hpoul commented on #200
Ah right, i stumbled upon that myself but forgot about it. 😳 Thanks for reporting!

[2020-11-08 18:02] hpoul opened #201 "Windows: Minimize to Tray Icon (investigate?)"
See https://forum.authpass.app/t/close-to-tray-app-shortcut-quick-search-login-remember-key-file/43

When the app window is closed, it should be hidden and a tray icon displayed. And come back up via shortcut.

[2020-11-09 16:41] aahnik opened #202 "Horrible Security Issue."
@hpoul
I have discovered a horrible security issue. This is regarding your website. Please check your inbox at herbert@codeux.design.

You may Delete this issue from Github's issue tracker after you have read the email.

[2020-11-09 17:04] #202 closed

[2020-11-13 19:56] TomerPacific commented on #171
@hpoul - sorry for not being more active, but I am not getting to handling this issue. If you prefer, you can let someone else take it as I do not know when I will have enough time to handle it properly.

[2020-11-14 08:32] hpoul commented on #171
@TomerPacific no worries. did you watch my video which shows the exact steps to reproduce this error? Have you tried it with firefox and still couldn't get an error message?

[2020-11-16 17:20] TomerPacific commented on #171
@hpoul - I have seen the video and tried to reproduce on an emulated device, but had a hard time with it. Will find time to reproduce it on a physical device.

[2020-11-20 13:09] ucodelukas commented on #4
Works

[2020-11-25 05:32] techcycl3 opened #203 "Copy & Pasting On Android Authpass ver.1.7.10"
Hey, was wondering if you knew this bug on your android apk with the copy & pasting for database pass, if you where to copy text from for example a text editor and try and paste it in the /Credentials area to enter your password it will not let you do so.. I've tried testing a few methods to get my database unlocked but to no avail.. This issue did not arise prior to the installation of this app,

[2020-11-25 17:56] Jomosoto opened #204 "Crash"
The crashes directly after being started.
I have a BlackBerry Dtek 50 with Android 6.
App version: 1.7.10

[2020-11-27 21:57] OGmetamonkey commented on #31
I think your proposal to sync all passwords to an autofill provider would be the most appropriate  implementation. I think this is possible using the [credential identity store](https://developer.apple.com/documentation/authenticationservices/ascredentialidentitystore) API. Good walkthrough here: [walkthrough](https://developer.apple.com/videos/play/wwdc2018/721/)

[2020-11-30 20:24] madridfran opened #205 "debug: Not password field detected (0total)"
I get in my android 10 , all the time that text in any box. Any solution?

[2020-11-30 20:38] hpoul commented on #205
is it possible you enabled: "AutoFill: Enable debug" in the preferences screen of AuthPass?

[2020-11-30 22:52] madridfran commented on #205
Now I have disable ..  should I enable ?
![Screenshot_20201130-235055_AuthPass](https://user-images.githubusercontent.com/22635153/100675335-0e548400-3367-11eb-8805-c2e81bf9ed85.jpg)

[2021-01-01 16:20] Turux opened #208 "Authpass does not start on Chromebook"
**Describe the bug**
I recently got my hands on a new Lenovo Chromebook, this allows me to install any Android app natively from the Google Play Store.
I can download and install Authpass but once I open the app, it just dies.
I am aware that Chrome OS is possibly not meant to be supported but it would be great if it would!

**To Reproduce**
Steps to reproduce the behavior:
1. On your Chromebook o

[2021-01-04 08:02] aryanA101a commented on #143
@hpoul I have pulled request for this issue. There is some problem with the check. Can you please help me with that?

[2021-01-04 16:49] Derisis13 opened #209 "AuthPass not working on Intel integrated GPU under Linux"
**Description**
I have two laptops running Linux, one with a dedicated NVIDIA GPU (proprietary switchable graphics driver) and one with no dedicated GPU, only the intel integrated. When I open AuthPass and no dedicated GPU is running the window I'm presented with is completely blank.
Launching from the terminal I can see the following errors repeating until the program's window is closed:
(authpas

[2021-01-05 00:28] libalis opened #210 "[UI] Bad color when right swiping to copy the username"
(Testen on Android 10 with Authpass 1.7.10+1612 and dark mode)
When swiping right to copy the username a very bright yellow color is used the background.
Not only is this creates this a very bad contrast to the white font, but also it doens not fit with the color palett at all.
Switching the color to green or something similar would help a lot in my opinion.
Otherwise, thank you very much for the

[2021-01-05 00:30] libalis opened #211 "[Feature request] Option to clear last opened files"
(Testen on Android 10 with Authpass 1.7.10+1612 and dark mode)
Sadly there currently is no option to clear the last opened files on the overview page.
Would be amazing if something like a dropdown element could be added for this function.
Otherwise, thank you very much for the effort put into this amazing project.
Keep it up.

[2021-01-05 00:36] libalis opened #212 "[Translation] Missing translations"
(Testen on Android 10 with Authpass 1.7.10+1612 and dark mode)
I am using the app in german as it is my system defualt.
Sadly all dialog, e.g. when opening a file or when you have unsaved changes, and the dropdown option "Delete" are not translated.
Would love it if I could help with the translation.
Otherwise, thank you very much for the effort put into this amazing project.
Keep it up.

[2021-01-05 00:40] libalis opened #213 "[Bug] Can't remove entry from trash"
(Testen on Android 10 with Authpass 1.7.10+1612 and dark mode)
If I click "Delete" in the drop down menu of an item it gets moved to the "Papierkorb" (Trash).
But I can't delete an entry from the trash, because it sais that I have unsaved changes and discards them.
Even though i clicked save before.
Would be awesome if this bug could be fixed.
Otherwise, thank you very much for the effort put into

[2021-01-08 05:54] sangramsingha commented on #209
Same here on linux mint 20
with first line of warning
`** (authpass:4565): WARNING **: 11:23:40.414: Failed to start Flutter renderer: Failed to find visual 0x34325241`

[2021-01-15 03:23] FillyAgioro commented on #209
I also have this same problem with Pop!_OS 20.04 LTS
[code]

[2021-01-22 12:22] ilius commented on #143
PR doesn't look right to me.

It's a simple math formula: `log2(charSetSize ^ passLength)`
Both these numbers depend on user input, so entropy should be calculated on user input (Length change, or check/uncheck a character group)

[2021-01-23 02:47] FillyAgioro commented on #209
Any update on the issue 😕

[2021-01-23 08:54] hpoul commented on #209
There is/was a related flutter issue. Windows: https://github.com/flutter/flutter/issues/51286 Linux: https://github.com/flutter/flutter/issues/59422

Not sure if this is completely the same. Could you try to set up a flutter development environment and just check if a example desktop app works for you? Just to know if it's a AuthPass or flutter problem

[2021-02-01 21:57] AliAkberAakash commented on #188
Can I work on this issue?

[2021-02-02 11:27] hpoul commented on #188
@AliAkberAakash sure

[2021-02-11 01:35] crentava opened #214 "buttons unlabeled when using screen reader"
I recently started using AuthPass and it is one of the best password managers I’ve used. Some of the buttons however are unlabeled and for me (as a blind user) I don’t know what purpose they serve. Could these buttons please be labeled? to make it more convenient I will give a list of these buttons

 1. The search button
 2. buttons after group names in customize menu
 3. in the manage groups sect

[2021-02-11 07:40] hpoul commented on #214
Thanks for the heads up, I've never actually dealt with screen readers. I will look into it.

[2021-02-11 10:29] hpoul opened #215 "Clear clipboard after copy of password"
After copying a password clear the clipboard after a certain amount of time. Should be configurable. E.g. after 10 minutes.

[2021-02-11 12:19] hpoul commented on #214
I have added a few more semantic labels. Which platforms are you using, maybe you can help me test it? most dev versions should be available soon (see https://authpass.app/docs/help-us-beta-testing/ )

[2021-02-11 12:25] crentava commented on #214
@hpoul I am an iOS user. I do have an android laying around but I’d have to find the charger for it. If you’d like I can open other issues as well about accessibility. I think more people should be using this and accessibility improvements may help

[2021-02-11 12:47] hpoul commented on #214
You can also join the testflight beta for iOS, it should be getting there soon'ish.
Yeah sure, feel free to create more issues.. maybe group them by topic or screen if there are many.

[2021-02-11 12:57] crentava commented on #214
just installed the beta. Thank you so much, I’ll be waiting to see the improvements

[2021-02-11 19:31] crentava opened #216 "unable to review text in text fields with a screen reader"
now that the unlabeled button problem has been fixed from what I’ve heard I’d like to try to solve one of the final accessibility problems. The text fields in your application do not allow us to review any input with a screen reader. are you using the default flutter text field or a custom one? If you’re using a custom one could you please edit it’s semantics properties? and what I mean by review

[2021-02-12 08:32] hpoul commented on #214
fyi, i've had a few problems with the CI upload to testflight, but it should be online now.. maybe you can give it a try

[2021-02-12 11:33] crentava commented on #214
i don’t see an update in testFlight

[2021-02-12 11:52] hpoul commented on #214
sorry, used the wrong tester group, should be available now

[2021-02-12 13:00] crentava commented on #214
most of the buttons are labeled now, thank you. If you don’t mind I opened up another issue yesterday about the keyboard. I’m gonna close this one and hopefully the other ones will be able to be fixed so that things will be easier. Thanks again

[2021-02-12 13:00] #214 closed

[2021-02-12 13:52] hpoul commented on #216
Well, actually they are default flutter text fields. I'm not completely sure how to change that.. happens this on all text fields in the app (e.g. also in the 'search' of the password list) or only in the input fields for passwords?

[2021-02-12 13:56] crentava commented on #216
it happens in all text fields. The reason I asked about the text field is because I saw other apps made in flutter who’s text fields are perfectly fine. But yours along with a couple others didn’t seem to work so I thought you guys were using custom text field widgets

[2021-02-12 14:04] hpoul commented on #216
how can I try this out? Is this the "Spoken Content" feature on iOS?

[2021-02-12 14:08] crentava commented on #216
no. It’s a feature called voiceover. It’s in accessibility settings. But be warned, the way you navigate will be different

[2021-02-12 14:12] hpoul commented on #216
ah okay, just discovered that this isn't available in the ios simulator, that's why i didn't find it.. have to check it on a physical device

[2021-02-12 14:27] crentava commented on #216
this may help
[text field semantics properties](https://api.flutter.dev/flutter/semantics/SemanticsProperties/textField.html)

[2021-02-12 15:00] hpoul commented on #216
ok i think i understand what you are referring to.. usually in a text field when swiping left/right it would go to previous/next character.. but in authpass it would go to the next/previous button, instead of changing the cursor.. right?

[2021-02-12 15:05] crentava commented on #216
something like that. The curser would be moved by swiping up and down to read by character or if you change the navigation settings, by word or line. I think that somehow the semantics for these textfields are messed up but you got the gist

[2021-02-12 15:21] hpoul commented on #216
funny.. there was a related flutter issue which was recently closed: https://github.com/flutter/engine/pull/23776 it was merged into flutter a day too late for the current dev channel .. i'll try the master channel if this fixes things

[2021-02-12 15:35] crentava commented on #216
will that only work for voiceover? Or will it also work for android users as well?

[2021-02-12 15:36] hpoul commented on #216
is there a problem on android? haven't tried it

[2021-02-12 15:41] crentava commented on #216
same problem as on iOS I think. I’ll have to test it though so don’t quote me on that

[2021-02-12 16:29] hpoul commented on #216
i've just updated the testflight version with the latest flutter master version. looks good to me

[2021-02-12 16:43] crentava commented on #216
thank you, That fixed it. And one final question, when do the dev builds get released to the App Store?

[2021-02-12 16:45] hpoul commented on #216
once I release them ;-) but i'm not sure i want to release a version which uses a flutter master channel version.. and there is usually only a new dev release every 2-3 weeks 🤔️

[2021-02-12 16:48] crentava commented on #216
so… Will this version that you release to the app stores roll back the changes to the keyboard because it’s not on the master channel?

[2021-02-13 15:48] christopherpickering opened #217 "Authpass on Android not filling passwords in brave browser"
When using Brave browser Authpass is not asking to populate password fields.

* On Android Galaxy s10e  v Android 10
* Set Autofill service to Authpass
* Added password for website
* Password list is unlocked
* Open Brave browser v1.19.92, chromium 88.0.4324.152
* Attempt to login
* Nothing recommended :(

It worked with LastPass, so I'm not sure what is different here?

![Screenshot_20210213-0945

[2021-02-13 20:27] hpoul commented on #217
Doing a quick google search it looks like brave browser does not support the android autofill api: https://community.brave.com/t/android-autofill-api-enabled-in-brave/64238
(afaik LastPass uses the old way of using the accessibility features to overlay onto other apps, which AuthPass does not support) So maybe you can check if brave browser has since implemented autofill api, which from the forum

[2021-02-16 14:04] hpoul commented on #216
i think i will wait another week to see if there is another flutter dev release.

[2021-02-18 11:08] eRuaro commented on #186
Hey, @hpoul I'd love to work on this one too if it's still available!

[2021-02-18 11:23] hpoul commented on #186
@eRuaro sure since nobody worked on it afaik

[2021-02-19 10:22] hpoul commented on #216
@crentava fyi, i've just published a new version to testflight which uses the latest flutter dev channel release. maybe you could give it another try if everything's still working? 😅️

[2021-02-19 14:14] crentava commented on #216
@hpoul everything is working perfectly👍

[2021-02-21 08:59] hpoul commented on #216
It's now included in 1.7.11 which i've just released to the app store and play store. If you have any further problems don't hesitate to open a new issue. thanks!

[2021-02-21 08:59] #216 closed

[2021-02-21 09:04] hpoul commented on #186
@eRuaro how's it going? let me know if you need any help to get up to speed with development.

[2021-02-21 09:23] eRuaro commented on #186
Hey, @hpoul my family and I went out over the weekend and just returned, I'll familiarize myself with the code tomorrow.

[2021-02-23 02:44] crentava opened #218 "custom actions for copying usernames and passwords"
since auto fill is not implemented on iOS, we have to copy and paste our usernames and passwords from the app to our web browser. I find that going into the password entry, clicking on the menus for the username and password and hitting copy field (At least for us screen reader users) takes a long amount of time. My suggestion is to add custom actions for the password list items that will allow yo

[2021-02-23 06:50] hpoul commented on #218
That is interesting.. I'll take a closer look.
Not sure if this is possible when having voiceover activated.. but I'm the password list swiping a password item to the left copies the username, swiping to the right copies the password...
Inside the password details to can actually swipe the field in either direction to copy it, no need for menus.. although as i said, no idea if there is a way to sw

[2021-02-23 06:53] crentava commented on #218
there doesn’t seem to be away as I’ve tried what you said and nothing

[2021-02-23 07:17] hpoul commented on #218
Is this a general limitation of voiceover, or only on AuthPass? It's swping a list item working in other apps? Like I'm gmail swping an email in the list for quick archive and snooze?

[2021-02-23 07:35] crentava commented on #218
regarding swiping. That’s a general voiceover limitation, what apps such as Gmail do is add custom actions like what I linked you to to make the experience easier for their customers who have either motor disabilities or visual impairments

[2021-02-24 01:46] christopherpickering commented on #217
Thanks, forgot to post back - I changed to duckduckgo browser and it works.

Hopefully Brave pics that up one day!

[2021-02-24 01:46] #217 closed

[2021-02-25 10:38] pthavarasa commented on #186
Hello there, can i look into this issue also if you are okay? @hpoul @eRuaro

[2021-02-25 10:39] eRuaro commented on #186
Sure thing! I'm not familiar with Bloc so I'm reading up on it first.

[2021-02-25 10:44] danielkochc opened #219 "Very low performance on loading and saving (Android)"
**Describe the bug**
If I open a local database on Android it takes ages (about 80 seconds) to load it. It also takes the same amount of time to save a new Entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main screen.
2. Click on "open local file"
3. Select the local file to open and enter the password
4. Click continue
5. Wait and wait and wait (about 80 seconds on my phone)
6.

[2021-02-25 10:46] hpoul commented on #219
Yes, either decrease iteration count, or switch to argon2.

[2021-02-25 10:46] #219 closed

[2021-02-25 12:15] hpoul commented on #219
@danielkochc fyi here it's a bit more info: https://github.com/authpass/authpass/issues/58#issuecomment-695258279 i should probably add an faq somewhere. If this doesn't help, let me know.

[2021-02-25 12:28] danielkochc commented on #219
Thank you,

The tip to change the key derivation function was flawless. I probably should have tried that myself. I thought it might be a bug, but with your further information I see that it's not really a problem to change the algorithm.

[2021-02-26 00:25] pthavarasa commented on #186
finally i made it :) @hpoul is that correct?

![app](https://user-images.githubusercontent.com/45243326/109236793-99abad00-77d0-11eb-8cf2-b3c9274279e4.PNG)
![code](https://user-images.githubusercontent.com/45243326/109236797-9a444380-77d0-11eb-9b0f-d2ac2eb22020.PNG)

[2021-02-26 10:07] hpoul commented on #186
@pthavarasa this issue is for deleting a file entry from the 'recently opened files', not removing a password.
after launching authpass you see a 'last opened files' list:

![unnamed](https://user-images.githubusercontent.com/313066/109286634-6988fc00-781a-11eb-8727-ea099cee2873.jpg)

[2021-02-26 21:20] pthavarasa commented on #186
@hpoul sorry for the misunderstanding, i'll check if i can do that!

[2021-03-03 00:05] MisterY opened #220 "Reference fields not recognised"
**Describe the bug**

Keepass reference fields,
{REF:U@I:4562ce35484370409c7f19eda53a06a5}
are not recognised. When copying the content, the reference gets copied instead of the value of the referenced field.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an entry with a username
2. Create another entry with the username field referencing the first entry `{REF:U@I:4562ce35484370409c7

[2021-03-03 09:07] hpoul commented on #220
Yes, Reference fields are not yet supported. Shouldn't be too hard to implement though.

https://keepass.info/help/base/fieldrefs.html

[2021-03-05 08:22] krafi99 opened #221 "Regarding Network Access"
Please make it possible to compile this app without network support or release an offline client for Android.

[2021-03-12 19:53] ikogan commented on #177
Hey just chiming in to say that this is an absolute necessity for me as well. My CA certificate is installed in my Android trust store but it's not being picked up.

[2021-03-13 12:40] hpoul commented on #218
@crentava I've now tried to add those `CustomSemanticsAction` as i understood them:

https://github.com/authpass/authpass/commit/0d999673dbab64ff5927c0231af611bf77335694#diff-cb5f1f500be99b3119f43605bd783f0c11ee078497ac0e22eb66cd9021448a4cR1145-R1150

but I have been unable to open them on iOS with voiceover activated... (or without.. or on android.. 🤷‍♂️️) - But i've also tried out the flutter ga

[2021-03-13 12:45] crentava commented on #218
custom actions are visible if you swipe down with one finger using voiceover on ios and swiping down then right with one finger on android using talk back

[2021-03-13 12:52] hpoul commented on #218
@crentava thanks, now I finally understand what "swipe down" means.. weird, i thought i've tried that before.. but now it's working for me on iOS 🎉️ .. i've added copy username/copy password to the password list..
do you think there are any more actions which are missing? 🤔️

[2021-03-13 12:55] crentava commented on #218
at the moment I can’t think of any other actions that need to be added. Thanks for all that you’ve done by the way

[2021-03-13 21:44] crentava commented on #218
works perfectly. Thanks again

[2021-03-13 21:44] #218 closed

[2021-03-14 09:51] hpoul commented on #213
Not sure about the "unsaved changes", but it's just not supported to delete items permanently. see #99
if there is an additional bug about unsaved changes please reopen and let me know if this can still be reproduced.

[2021-03-14 09:51] #213 closed

[2021-03-14 09:52] hpoul commented on #212
see #78

[2021-03-14 09:52] #212 closed

[2021-03-14 22:27] AdriandeLima opened #223 "Sticky Caps Lock/Shift bug in latest version"
**Describe the bug**
When attempting to enter passwords in any password field in (I think) the latest version of AuthPass, I experienced weird Caps Lock/Shift behaviour, where keys were unexpectedly CAPS or shift symbols, and the caps mode was sticky, i.e. it didn't disappear on releasing the keys, and I had to hold down the Caps Lock key to type anything normal.

**To Reproduce**
Steps to reprodu

[2021-03-15 10:27] hpoul commented on #223
I'm not sure I completely understand the problem.. if you don't hit shift or caps lock.. will the keys switch randomly between upper and lower case?

is the 'shift' key "sticky" - ie. you press it once, it keeps everything upper case?
or is the 'caps lock' key sticky? .. maybe you can give a more detailed example of what keys you type and what you get.

does this happen only on password fields, or

[2021-03-15 10:28] hpoul commented on #223
I just found a issue which sounds pretty similar in the flutter repo, maybe you can read through that if this describes the behavior you are experiencing: https://github.com/flutter/flutter/issues/75675
thanks

[2021-03-15 12:17] Darthagnon commented on #223
I opened this bug from my brother's GitHub account. I've been having this problem, and it sounds very similar to the Flutter issue you referenced. EDIT: After further testing, I believe it is the Flutter issue referenced.

NB. I'm using Windows.

It's difficult to describe, but here's what happens:

1. Open Authpass. Got a bunch of other programs open; only ones I could think that might interact a

[2021-03-17 13:38] Darthagnon commented on #223
@hpoul [Authpass v1.7.9](https://github.com/authpass/authpass/releases/tag/v1.7.9) doesn't have the weird ```Right Shift``` bug on Windows. I'll stick to that for the moment. I hope it's fixable in the near future, as I was planning to deploy Authpass for tech-illiterate friends to use, and I wouldn't want them accidentally entering the wrong password due to this serious bug.

[2021-03-19 14:41] hpoul commented on #223
Thanks for the thorough explanation, but unfortunately i think we have to wait for a fix in flutter. I don't think there are any quick workarounds, and downgrading to an older flutter version is no longer a good option.. (not much more useful than just using an old AuthPass version for now on windows)

[2021-03-19 14:43] hpoul commented on #221
I think it everything should work offline, but i think there are a couple of network errors which aren't handled properly and so will show up as dialog messages.

imo this is what should be fixed.. simply handling being offline gracefully.. i don't see any advantage in a separate build or anything 🤔

[2021-03-27 20:42] Farzat07 commented on #209
I believe the problem is in the package not installing the dependencies properly.

When I use the apt version it gives that error but when I use the tarball version it works, most likely because it already has the library included.

[2021-03-28 14:11] hpoul commented on #209
@Farzat07 which one? it's a bit weird though because i think the apt version should be basically the same. Although it's possible that the apt version is older. 🤔️

[2021-03-29 11:47] Derisis13 commented on #209
I don't know which update is responsible, but AuthPass has been working for me since late February 2021 on the  exact same setup it failed before. Maybe it was a flutter (or any other dependency's) issue after all which was fixed.
I suggest everyone to try updating their packages and see if it fixes the issue.

[2021-03-30 17:37] bltDefender opened #224 "Ubuntu 20.04 (focal) not working due to critical gdk error"
**Describe the bug**
adding the recommended apt repos then installing authpass as usual. Installation went fine. Registration went fine. Starting authpass results in an empty window. Starting from the console I can read the following warning / errors

`
** (authpass:861030): WARNING **: 19:30:33.567: Failed to start Flutter renderer: Failed to find visual 0x34325241

(authpass:861030): Gdk-CRITICA

[2021-03-31 13:52] Farzat07 commented on #209
Well I don't have access to my laptop rn, but the ppa says that the apt version is 1.7.9 (Oct) while the tar version is 1.7.11 (Feb).

So yeah it is highly possible that updating the ppa should fix the issue given @Derisis13's comment.

[2021-03-31 13:53] Farzat07 commented on #224
Check #209

[2021-03-31 14:08] #224 closed

[2021-03-31 14:09] bltDefender commented on #224
already coverd in #209

[2021-04-02 05:39] makoConstruct opened #225 "Difficulty building for linux, "couldn't find pubspec.yaml in kdbx.dart""
Attempting to build the flutter app in `/authpass`

[code]

If there is something in `_tools` I'm supposed to be using, I can't tell what.

[2021-04-02 05:52] hpoul commented on #225
Did you follow the steos in `CONTRIBUTING.MD` (ie clone submodules)

[2021-04-02 09:36] ecxod commented on #186
Still not possible ?

[2021-04-02 10:06] ecxod commented on #81
deleting of test databases must be possible. I created some at the beginning, now I cannot delete them any more because they are in a protected folder. please implement it.

[2021-04-02 21:46] makoConstruct commented on #225
Further problems:

Step 4 says `git clone https://github.com/authpass/authpass.git`, but this was already done in step 2. Is this intentional?

Build fails before building the linux version.

[code]

(this is the second time I've run the build)

[2021-04-05 20:09] mixim-mixim opened #226 "Linux - No Action but ~ 6% CPU usage"
**Describe the bug**
Too much CPU usage while in idle state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a .kdbx file in Authpass (Linux / Ubuntu 20.04 / KDE Neon)
2. Click around to select anything (may be this step is not needed)
3.  Wait a few secs (max one min)
4. Open any process viewer (top e.g.)
5. See the CPU usage of Authpass-App in idle mode (> 6%)

**Expected behavior**
A

[2021-04-07 05:58] antmyers commented on #186
Hi, I was wondering if I could look into this issue if it is still open? @hpoul

[2021-04-07 06:23] hpoul commented on #186
@antmyers yes it's still open and i haven't seen a PR addressing this.. 👍

[2021-04-08 06:09] Farzat07 commented on #209
Any plan to update the ppa?

[2021-04-08 09:21] Derisis13 commented on #209
1.7.9 is working fine for me, but yes, if there's a newer version the ppa should be updated. My current best guess why it's working for me and not for others is different distros pushing updates differently. I'm on Pop!_OS 20.10
![Screenshot from 2021-04-08 11-16-23](https://user-images.githubusercontent.com/66648475/114001506-4bbca700-985c-11eb-8305-c7575d479591.png)
(Entries blurred for privacy)

[2021-04-08 09:29] Derisis13 commented on #209
Since my in previous  comment it isn't that clear, I suspect there's a problem with a dependency which was then updated for me but not for those who still keep experiening this error. I have no idea which though...

[2021-04-08 13:31] MateusBMP commented on #209
The ppa is not up to date and I have the same problem on Ubuntu 20.04.2 LTS. After install the new version, 1.7.11+1657, it's working normally. Below is the specifications of the OS and AuthPass version with the problem.

#### System:

- OS: Ubuntu 20.04.2 LTS
- GNOME version: 3.36.8
- Windowing system: X11
- AuthPass version 1.7.9+1605-1ubuntu1

[2021-04-23 02:05] mlefkon commented on #177
Same issue in iOS.  Self-signed/insecure certificate not accepted over WebDAV.
![pic](https://user-images.githubusercontent.com/720181/115807492-4d20ce80-a41b-11eb-8fce-cca3aaa86578.jpg)

[2021-05-09 04:32] tousifalamgir commented on #186
Hello, I am also interested in tackling this issue. @hpoul

[2021-05-09 04:38] antmyers commented on #186
I already submitted a pull request for this issue, but feel free to look at that if you’d like to tackle it a different way!

[2021-05-09 05:12] tousifalamgir commented on #186
Awesome! Sure, I'll take a look.

[2021-05-09 06:18] tousifalamgir commented on #188
I am also interested in working on this.

[2021-05-09 07:16] hpoul commented on #188
@tousifalamgir sure, since there was no pr or anything i guess it is safe to assume nobody is working on it

[2021-05-31 10:56] andynz2017 opened #229 "Client Certificate Authentication instead of Username and Password - Load from WebDAV Feature"
**Describe the bug**
When using the "Load from WebDav" feature, you are prompted to enter a username and password to authenticate to a remote WebDav server.

It would be great if users had the option to select an installed client authentication certificate if the remote server "requires" it. It appears that the feature does not honor the server response of requiring a client certificate even thoug

[2021-06-01 19:51] hpoul opened #230 "Debian: deb package should include a .desktop file"
The snap build already contains a `.desktop` file, but it seems not the debian version.
https://github.com/authpass/authpass/blob/master/snap/gui/authpass.desktop

[2021-06-10 10:08] bltDefender commented on #13
I am interested in this feature too. any chance to get this?

[2021-06-12 12:01] ItzSorin opened #231 "i got a problem"
hi,i got a problem.a long time ago i lost my phone with authpass and the backup code,and i can t login on discord because i don t have the code.can you remove my account from the aps?and after to make a new acconunt with that email?because i really need to connect on discord this week!

[2021-06-23 07:37] tiborrr opened #232 "[UI] Distinction between hamburger menu function and three dot menu function unclear"
Problem:
In all versions of Authpass, I found that I have trouble choosing the right menu button for opening settings. I always get confused between the two. Anyone else experiencing this?
![image](https://user-images.githubusercontent.com/16014746/123055481-3b04e180-d406-11eb-9a88-82c77a778359.png)

Solution:
Change the hamburger menu to a filter icon as that is what the function does. This also

[2021-06-23 07:47] hpoul commented on #232
I disagree regarding changing the burger menu to a filter icon. imo it is pretty much established that the app drawer can be used for changing categories. Take for example the Gmail App, which works exactly the same way. Especially since the filter icon is already used in your screenshot, having it there twice wouldn't make things easier either.

[2021-06-30 13:16] olidal opened #233 "Unable to install on linux from PPA"
**Describe the bug**
Install fails on apt update step

**To Reproduce**
From PPA:
1. Added ppa repo successfully with `sudo add-apt-repository ppa:codeux.design/authpass`
2. run `sudo apt update`

**Expected behavior**
Apt update should complete without error

**Screenshots**

Error produced by apt update:
[code]

**Desktop (please complete the following information):**
 - OS: Debian 10 (buster)

[2021-07-01 19:03] jwmh commented on #83
Q: Is there an Export db feature implemented??

[2021-07-01 21:32] hpoul commented on #83
@jwmh No, also this is not the place for questions or feature requests.. maybe you could elaborate more about your use case and requirements in the forum https://forum.authpass.app/

[2021-07-02 09:08] araripi1 opened #234 "bug error in reading the fingerprint"
[Uploading errobugapp.log.txt…]()
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**De

[2021-07-02 09:26] araripi1 commented on #234
![Screenshot_20210702-061130](https://user-images.githubusercontent.com/76633999/124253171-21e2eb80-dafe-11eb-89f8-e8d0bfc682ee.png)

[2021-07-02 09:42] hpoul commented on #234
you didn't actually mention what you tried to do, what you happened, what the problem or error message was, etc.

[2021-07-02 09:42] #234 closed

[2021-07-06 20:04] dorrin-sot commented on #215
Hi Is this issue still available and if so, can I work on it?

[2021-07-09 14:14] #232 closed

[2021-07-09 14:15] hpoul commented on #231
No idea what you are talking about. But everything in AuthPass is offline. If you lose it, it's gone. Make a backup.

[2021-07-09 14:15] #231 closed

[2021-07-09 14:22] hpoul commented on #225
sorry for the late reply

well, kind of.. it just to illustrate that if you use `cd authpass/authpass` the first `authpass` is the name of the cloned repository.. and `authpass` the subdirectory inside that clone. That's why I reiterated the `git clone` command.

This looks like you are trying to build the android version, not the linux version.. for the linux version you would have to first enabl

[2021-07-09 14:22] #225 closed

[2021-07-09 14:28] ItzSorin commented on #231
how can i make a backup for my discord? i can t login Sent from my Huawei phone-------- Original message --------From: Herbert Poul ***@***.***>Date: Fri, Jul 9, 2021, 5:16 PMTo: authpass/authpass ***@***.***>Cc: ItzSorin ***@***.***>, Author ***@***.***>Subject: Re: [authpass/authpass] i got a problem (#231)
No idea what you are talking about. But everything in AuthPass is offline. If you lose it

[2021-07-09 15:10] hpoul commented on #231
This is the issue tracker for authpass, i have no control over discord.

On Fri, Jul 9, 2021, 16:28 ItzSorin ***@***.***> wrote:

[2021-07-09 19:09] hpoul commented on #233
I assume that's because the PPAs only work for ubuntu (focal and bionic). Not for Debian.
Unfortunately I have no experience building debian packages whatsoever. If you do have some experience in it, I would very much welcome any help.

Otherwise I'd suggest trying out the snap version of AuthPass on linux https://snapcraft.io/authpass

[2021-07-10 21:26] Darthagnon commented on #223
Just seen the update with a Flutter bump. Gonna have to test and see if this bug is still there; the thread in Flutter issues, last I saw, is still open (with hacky fixes).

[2021-07-10 21:56] hpoul commented on #223
@Darthagnon as far as I understand it, it *should* be fixed (even though just a ["bandage-fix"](https://github.com/flutter/engine/pull/25882)) .. but on the other hand there are quite a few open issues.. like https://github.com/flutter/flutter/issues/78005
but if you can give it a try and let me know, that would be awesome, thanks.

[2021-07-12 12:32] nesimtunc commented on #96
Hi @hpoul

The issue has been solved, now I can connect on my Mac but in iOS it's like this:
![IMG_1437](https://user-images.githubusercontent.com/680806/125287820-5c4b5480-e358-11eb-9802-9b9d9234737f.PNG)

To reproduce: Click the button to Open the WebDAV screen. The Load from WebDAV button from Home Screen (2nd screen actually).

Device: iPhone 12 Mini, iOS 14.6
AuthPass 1.8.0

[2021-07-12 12:36] nesimtunc commented on #96
And just now on MacBook Air M1, when I tried to open another WebDAV password file, I get this error.

<img width="912" alt="Screen Shot 2021-07-12 at 21 35 10" src="https://user-images.githubusercontent.com/680806/125288546-3bcfca00-e359-11eb-8fe8-795c908832d8.png">

[2021-07-12 14:29] hpoul commented on #96
@nesimtunc can you please send me the log file (or upload it, after double checking that there is nothing sensitive). You can find the location of the log file in the About dialog.

[2021-07-14 13:03] hpoul opened #236 "Create debian deb packages and a repository"
the ppa process is broken (again). It should be easier to just create a `deb` package from the binaries and distribute it through a custom build process.

[2021-07-14 15:09] ATofighi commented on #156
Hi.
I'll work on this issue.

[2021-07-14 17:41] mjain234 opened #238 "Telegram Support"
Is there any telegram support for AuthPass app?

[2021-07-14 18:13] hpoul commented on #238
I don't get it, what kind of telegram support are you looking for? (btw, I'd also prefer feature discussions on the [forum](https://forum.authpass.app/c/feature-discussions/7) and keep the issue tracker for actionable tasks)

[2021-07-14 18:17] mjain234 commented on #238
Like for discussion and other stuffs like any update announcement, and etc

On Wed, 14 Jul, 2021, 23:43 Herbert Poul, ***@***.***> wrote:

[2021-07-14 18:21] hpoul commented on #238
No, there is a forum at https://forum.authpass.app/ and Discord Chat https://discord.gg/Nuraxmc for discussions, and a newsletter for announcements https://authpass.app/docs/newsletter/ .. and the "Releases" page which gets news about all new versions: https://github.com/authpass/authpass/releases - I guess if you really want to, you could use something like https://github.com/pyatyispyatil/github

[2021-07-14 18:21] #238 closed

[2021-07-14 18:25] hpoul commented on #238
I guess I could try to setup https://meta.discourse.org/t/telegram-notifications-plugin-discourse-telegram-notifications/60483 for the forum, if this helps you. this would kind of integrate the forum into a telegram bot as far as I understand it 🤔️

[2021-07-15 07:46] #156 closed

[2021-07-15 11:24] mjain234 commented on #238
where does the file kdbx get saved in file manager?

On Wed, Jul 14, 2021, 11:56 PM Herbert Poul ***@***.***>
wrote:

[2021-07-20 12:41] hpoul opened #242 "Windows: Auto-type"
It should be possible to automatically enter passwords on windows using some kind of auto type feature. E.g. a configurable <username><TAB><password>

see also #13 for the mac version of this issue.

[2021-07-22 07:44] hpoul opened #243 "Support multiple cloud storage authentications for each cloud storage type"
Right now only one authentication/connection information is stored for each cloud storage type. It would be nice if users can configure multiple e.g. webdav accounts from which to load kdbx files.

[2021-07-23 19:26] #188 closed

[2021-07-24 01:25] lfournier opened #244 "Unable to change to a subgroup on CalyOS"
CalyOS on Pixel 4a
Subgroups can be created but only a blank screen shows when trying to change an item's group. Only group that is available is PersonalPasswords

[2021-07-24 01:27] hpoul commented on #244
This should be fixed in 1.8.2, which version are you using?

[2021-07-24 02:35] lfournier commented on #244
1.8.1 That's the version on fdroid

[2021-07-24 02:41] lfournier commented on #244
Aurora Store had 1.8.2 so I uninstalled the version from f-droid  and installed 1.8.2 via Aurora. Works now. Thanks!

[2021-07-24 05:03] hpoul commented on #244
Unfortunately fdroid lags behind, and it doesn't sound like they intent to change it any time soon https://forum.f-droid.org/t/update-build-deploy-delays/14191

[2021-07-24 05:03] #244 closed

[2021-07-26 16:34] b-kiddo opened #245 "keepass files corrupted"
**Describe the bug**
KeePass Files get corrupted

**To Reproduce**
Steps to reproduce the behavior:
1. open my KeePass file that was created with KeePass with Authpass
2. Close authpath
3. When I want to open my original KeePass file with Keepass on windows again I get the error message that the database can't be opened because the file is corrupted.

**Expected behavior**
I expect that I can open

[2021-07-26 16:56] hpoul commented on #245
Can you please create a new kdbx file, which you can share, with Keepass and reproduce the problem, then share the version before and after it was corrupted?
thanks

[2021-07-28 09:59] b-kiddo commented on #245
okay, I will do so 😊

[2021-07-29 14:31] offlineface opened #246 "Support the steam totp"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-29 16:52] hpoul commented on #246
what is so special about steam totp? is there some spec or anything?

[2021-07-30 01:23] offlineface commented on #246
Sure, a Steam totp represented as a string of five digits and letters, such as 5AKL8, which is definitely generated by a special algorithm. And the specific github repo in my first reply is a good demo.

[2021-07-30 07:00] hpoul commented on #246
fwiw, this looks like a simpler implementation..
https://github.com/DoctorMcKay/node-steam-totp/blob/master/index.js

150 lines of readable JavaScript instead of a whole project where i have no idea what else it is doing..

Anyway, let's see if anyone else wants this..

[2021-07-30 07:49] hpoul opened #247 "Support password recovery using Shamir's Secret Sharing (SSS)"
Create a password backup using [Shamir's Secret Sharing](https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing) this way a user could create e.g. 4 backup codes he can share with his friends and require at least 3 of those codes to recover the database secret.

The technical side should be quite straight forward as there are multiple implementation already available in dart:

* https://github.co

[2021-07-30 11:35] hpoul commented on #80
@christianfl sorry for the delay 😅️ . I finally reproduced that problem and fixed it :-) It's in the latest beta builds for android/ios .. I think I will now start to wire it up to be automatically used when a conflict is detected when saving.

[2021-07-30 11:45] christianfl commented on #80
No problem! Know the struggle with developing and maintaining an app by myself (I do that on Codeberg). Currently using keepass2android but I readily test your app from time to time again!

[2021-07-30 20:33] #195 closed

[2021-08-01 08:37] hpoul commented on #34
I've now implemented a very basic conflict detection, since the API won't support anything better:

Before each save the metadata will be fetched and the `version` property compared to the local version. If it differs, a conflict is triggered. This way there are basically double the required HTTP requests. And it doesn't solve race conditions. But there is no way to make this better with the curre

[2021-08-01 08:39] hpoul commented on #80
I've now wired up conflict detection with merging. When a conflict is detected upon save, a merge is triggered automatically before saving. If this happens a small alert dialog will show it, just to inform the user. I guess this can be removed once it has been used often enough :)
<img width="912" alt="Screen Shot 2021-08-01 at 10 32 50" src="https://user-images.githubusercontent.com/313066/127764

[2021-08-01 08:39] #80 closed

[2021-08-01 12:14] hpoul commented on #99
This is now supported in AuthPass 1.9 - Just make sure you delete the right entries, and have a backup ready 😂️

[2021-08-01 12:14] #99 closed

[2021-08-01 12:16] hpoul commented on #192
Updated linux template.

[2021-08-01 12:16] #192 closed

[2021-08-01 17:13] hpoul commented on #208
Sorry for the late response. Did by any chance this started working with the latest version? It looks like it *should* be supported, the default setting right now is:

[code]

according to https://github.com/flutter/flutter/issues/9253 this should be working in the master channel since november, but it's possible that I did not use that version before you wrote that issue. Maybe you could retry?

[2021-08-01 17:15] hpoul commented on #204
sorry for the late response. If this is still happening with 1.9, (and you are still using the blackberry) - maybe you could reopen the ticket and send a crash report to google play (or give me some crash report from the logcat). thanks.

[2021-08-01 17:15] #204 closed

[2021-08-01 17:16] hpoul commented on #245
Any luck with reproducing this problem?

[2021-08-01 17:18] hpoul commented on #203
sorry for the late response. Can you please check if this is still happening? This works for me perfectly.
it's possible that there was a broken flutter version. reopen this issue if this is still a problem. thanks

[2021-08-01 17:18] #203 closed

[2021-08-01 17:19] hpoul commented on #200
this should be fixed for a while, forgot to close the issue. If this is still a problem please reopen.

[2021-08-01 17:19] #200 closed

[2021-08-01 17:23] #159 closed

[2021-08-01 17:23] #137 closed

[2021-08-01 17:27] #63 closed

[2021-08-01 17:30] hpoul commented on #115
the currently preferred distribution for windows is the microsoft store, which handles auto updates on it's own.

[2021-08-01 17:30] #115 closed

[2021-08-01 17:30] #116 closed

[2021-08-02 21:37] Turux commented on #208
Hi there,

Thanks for coming back to me.

I did try again today and indeed it works! Thanks for your time and help!

[2021-08-03 21:50] hpoul commented on #210
thanks for the report, and sorry for the late reply. This will be fixed in the next version (>=1.9.1)

<img width="400" alt="Screen Shot 2021-08-03 at 23 48 57" src="https://user-images.githubusercontent.com/313066/128091017-1672906f-3c24-4965-8fbf-77366f6eda11.png">

<img width="347" alt="Screen Shot 2021-08-03 at 23 49 46" src="https://user-images.githubusercontent.com/313066/128091026-1a128dba-

[2021-08-03 21:50] #210 closed

[2021-08-04 13:18] hpoul opened #248 "Hide 'Open Another File' when on the 'select file' screen"
Currently whenever at least one keepass file is open, the menu entry includes a 'Open Another File' entry. When this is clicked the 'open file' screen is shown. but the menu still contains 'Open Another File' - this creates a loop the user has to press `back` multiple times to get out of.
So best to just hide the menu entry when you are on the `select file` screen.

[2021-08-06 07:16] abda11ah opened #249 "Allow opening of a kbdx file that have an empty password"
Hello,
I created a kbdx file on keepass that contains hundreds of passwords.
I preferred not to lock the file with a password for simplicity.
Anyway, my bank's websites require double authentication.
Authpass won't open my kbdx file, it requires a password.

[2021-08-06 07:40] hpoul commented on #249
I'm a bit surprised that Keepass let's you create an empty master password.. are you using a keyfile instead, or nothing at all?
Would you mind creating a new dummy database when the same configuration as your file? (Maybe with a single dummy entry)? Then I can use that for testing.

[2021-08-06 08:00] abda11ah commented on #249
I don't use any keyfile or master password.
This file can be opened in keepassDX app.

https://easyupload.io/4jvnyo

[2021-08-06 12:04] hpoul commented on #78
Finally externalized **all remaining strings** 🥳  No more (non-ignored) string literals anywhere in the (dart) code ;-)

<img width="647" alt="Screen Shot 2021-08-06 at 14 02 27" src="https://user-images.githubusercontent.com/313066/128507576-352b1929-00e3-4ead-afe2-b9dcb3315ed8.png">

And there's a github action which checks for new string literals, so we should stay this way.

The only thing mis

[2021-08-06 12:04] #78 closed

[2021-08-06 12:19] hpoul commented on #249
ok, it was enough to basically remove the validator for the password input field, and it opened successfully. I guess supporting opening with empty password can't make anything worse.. but I don't think i'll allow creation with empty password, that seems pretty redundant and more like somebody clicking too fast.

if you want to test it, it should be available in beta versions soonish https://authp

[2021-08-06 12:19] #249 closed

[2021-08-08 13:56] hpoul commented on #248
fixed.

[2021-08-08 13:56] #248 closed

[2021-08-08 20:14] #105 closed

[2021-08-09 08:57] nursoda commented on #243
The feature that lead me to Authpass was the ability to merge multiple password databases. I agree that in a family usecase, those files probably would be in the same cloud. In my case, I use different clouds: private, my business, clubs, etc.

I propose to store full cloud type and corresponding credentials alongside the path/file, and open each file from its cloud.

[2021-08-09 09:22] hpoul commented on #243
@nursoda i still think this is a pretty narrow use case. After all you could share those files to one "master account" where you have all your password files.. so you only have to authorize one with AuthPass.

It is not **that** easy.. since path/file is saved unencrypted on disk, while the credentials are stored in the keystore (android), keychain (ios/macos),  credentials manager (windows),  sec

[2021-08-10 07:06] abuisman commented on #31
I’d love for this to work on iOS.

What is currently stopping this from working? Are there any developments?

[2021-08-10 07:29] hpoul commented on #31
@abuisman that would be great.. I haven't done anything on that topic for a year.. https://github.com/authpass/authpass/commit/5cb739007189a1419a8a1b54485484c854dd9023 was my last try.. I don't think there is much to salvage from that :-(

The biggest blocker is that it's not trivial to get the flutter engine running in an app extension.. I think the safest bet would be to not try that.. 😅️ I'm no

[2021-08-10 07:30] hpoul commented on #31
For reference - here is the flutter issue related to having a flutter engine in an app extension: https://github.com/flutter/flutter/issues/16092

[2021-08-10 07:54] abuisman commented on #31
Haha I didn’t mean “I’d love to work on this” I meant it would be great if this feature was functional on iOS. I don’t think I’d be the right person for this as I have neither flutter or iOS experience. Let alone I have no Apple developer account 😇

[2021-08-10 07:56] abuisman commented on #31
Would the bitwarden source code be useful? They have this functionality working quite well.

[2021-08-10 08:38] hpoul commented on #31
no

[2021-08-14 09:49] Trekky12 opened #251 "Group field is not updated when new entry is generated"
When creating a new password entry and the first action is changing the group (folder) the toast message is shown that the entry is moved, but the field for the group is not updated with the new value.
This behaviour occurs only when the title is empty. If a title is inserted first the group name is updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "+" button
2. Click on 'gro

[2021-08-14 09:56] Trekky12 opened #252 "Save new entry lead to message that there are unsaved changes"
When a new password entry is created a white saving symbol occurs on the top bar.
A click on this symbol results in the saving progress and the symbol gets disabled and is therefore darker.

During the saving progress it is still possible to click on the arrow back to go back to the list. Unfortunately then the message "There are still unsaved changes" is shown.
This is only partial correct becaus

[2021-08-14 10:00] Trekky12 opened #253 "Deleting an entry permanently from the recycle bin results in gray window"
When an entry is permanently deleted (from the recycle bin) a gray window is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to recycle bin
2. Click on deleted entry
3. Open context menu
4. Click on "Delete Permanently"
5. Click on "Ok"
6. Full screen gray window is shown

**Expected behavior**
After the delete the screen should change to the recycle bin overview.

[2021-08-15 16:45] E0697 opened #254 "[Android] Firefox crashing after selecting an item to autofill"
I'm using latest Firefox Nightly 93.0a.1.
Other password managers seem to be working fine when it comes to autofill.

I'd also like to suggest adding support for inline autofill which was introduced in Android 11.

One last thing, can you change the automatic search string to omit "www".

Thank you!

[2021-08-16 08:56] hpoul commented on #252
that was a bit of a rabbit hole, but I think i've now improved this one.. the way it should work now:

* Once you press "save' you will no longer get the warning about losing changes.
* When the "Save" process fails, the file remains dirty (previously it was always marked as saved, no matter what)
* When you make changes after clicking "Save" but before it is finished, the entry (and file) will re

[2021-08-16 08:56] #252 closed

[2021-08-16 10:07] hpoul commented on #254
that's interesting, i thought firefox didn't work at all #136 - maybe something changed in the latest version 🤔️
regarding search string, this is tracked in #84

[2021-08-16 10:19] E0697 commented on #254
A crash report was sent to Mozilla. So if it's a bug on their end, hopefully we'll get something out of it.
The search string worked for accounts.google.com. However, for instagram.com it searches for www.instagram.com.
The second workaround seems good enough, considering it's easier for you to implement.

[2021-08-16 10:36] E0697 opened #255 "Ability to change icons loaded from the internet.Ability"
**Describe the bug**
Once an icon is loaded from the internet, it can't be cahanged to a custom one.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable loading icons automatically.
2. Try to change an icon loaded fron the internet.
3. It's not possible to change the icon anymore.

**Expected behavior**
Ability to override the loaded icon and setting a custom one.

**Smartphone (please co

[2021-08-16 12:27] hpoul commented on #253
should be fixed in the latest dev build.

[2021-08-16 12:27] #253 closed

[2021-08-16 12:27] hpoul commented on #251
should be fixed in the latest dev build.

[2021-08-16 12:27] #251 closed

[2021-08-16 13:35] hpoul opened #256 "When changing master password allow selecting of generating of a keyfile"
When changing the master password users should be able to choose a keyfile.
We should also offer a way to generate a keyfile.

[2021-08-16 14:05] hpoul commented on #255
The main problem with this is, that every password entry inherently has a icon set. - even newly created once. (the kdbx file format doesn't allow entrys to not have icons).
That's why the icons are ignored currently. I guess we would need an authpass-specific override which sets some custom property on the entry when the user changes the icon on purpose and a way to reset it.

[2021-08-16 14:15] hpoul commented on #46
Changing the master password is now implemented in 1.9.2 (1831) - If anyone wants to test it, it would be nice if you could let me know if it works 😅️ It's in the 'manage file' screen. It [should be available on play store dev/beta and ios testflight](https://authpass.app/docs/help-us-beta-testing/).

<img width="551" alt="Screen Shot 2021-08-16 at 16 13 24" src="https://user-images.githubusercont

[2021-08-16 14:15] #46 closed

[2021-08-16 15:27] Turux commented on #46
Just tested it, it works perfectly!

That's such a great addition to the app! Thanks!

[2021-08-17 08:24] hpoul commented on #254
I've now tried it out myself and could reproduce the crash. But it's very weird, because it does not *always* crash.. it usually works on the second try.. have you made a similar experience?

fwiw, I've also managed to get the stacktrace.. which is not too helpful.. but imho this is a bug in the firefox code.. I'll have to looks close to see if there is something on my side I could change.. It loo

[2021-08-17 09:55] hpoul commented on #46
@Turux thanks for testing! I've now gone ahead and released 1.9.2 🥳

[2021-08-19 15:27] GlenCooper opened #257 "Install attempts from F-Droid are failing"
**Describe the bug**
When using F-Droid on a mobile phone running GrapheneOS, when you click the "Install" button for AuthPass in F-Droid, it fails with a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open F-Droid app
2. Search for "AuthPass"
3. Click "[Install]" button
4. See error

**Expected behavior**
AuthPass app should install without error

**Screenshots**
![IMG_20210819_

[2021-08-19 16:40] hpoul commented on #257
I don't have much experience with f-droid. But that build looks pretty old, and the website also lists 1.9.1 already https://f-droid.org/en/packages/design.codeux.authpass.fdroid/
Are you sure you have updated the fdroid repo? 🤔

[2021-08-19 20:14] Elodain opened #258 "Biometric login stopped working after backing up database"
So I will be soon  unlocking my phone's bootloader, which will necessitate doing a factory reset.

I wanted to make a backup of my password database to be restored after I unlock my bootloader and get all my apps set back up.

So I saved a copy of the database to the external SD card for safekeeping, except now I am being prompted for a password, and it will not accept a fingerprint, which is wher

[2021-08-19 20:39] hpoul commented on #258
The quick unlock with biometric authentication is only a convenience feature.. it is always secured using the master password..

How did you do the Backup?

I should probably add some reminder every few weeks which quizzes people about their master password every few weeks.. or every few unlocks 🤔

[2021-08-19 21:22] Elodain commented on #258
I clicked the three dots in the upper right, then hit the database name under preferences with the green icon, then the three dots next to path, Save in, then onto the root of my MicroSD as a kbdx file

[2021-08-20 22:25] uV3301 commented on #256
<b> Would love to work on this <b>
-------
@hpoul Could you elaborate on this a little more.
Just to match up with you, the keyfile is basically any txt file which contains data for the master password right?
+ I would probably add some encryption to the password as well for security purposes.

[2021-08-21 03:06] GlenCooper commented on #257
Good point.  That's probably it.  It's been a while since I set up this phone.  I'll look into that now and post my findings here soon...

[2021-08-21 07:52] hpoul commented on #256
@uV3301 that would be great. Take a look at https://keepass.info/help/base/keys.html#keyfiles which describes the keyfile. AuthPass already supports reading of the keyfile in those formats. When creating a new keyfile we should probably also create a XML file similar to the one from Keepass. You can just try to create one with Keepass.

No idea what you mean by that. The password is only used as t

[2021-08-21 10:15] uV3301 commented on #256
@hpoul Yeah alright. I will check that.
The XML file shall be containining the existing user data data right ? I found this on keeppass's docs <a>https://keepass.info/help/download/FileSample_XML.zip<a>

Yeah I was thinking like such.
Also can we connect on discord or somewhere. I'm new to the project so I'll end up adding the features/tweaks where I feel the best and so we can cohesively decide o

[2021-08-21 10:59] hpoul commented on #256
@uV3301 no, it only contains some bytes which are used as master key.. (i think the keepass article explains it pretty good). This is an example file: https://github.com/authpass/kdbx.dart/blob/master/test/keyfile/keyfilev2.keyx

sure, i'm on discord.. although i think I would prefer the forum for most things https://forum.authpass.app/ .. just post something in the [contributors category for disc

[2021-08-21 11:13] uV3301 commented on #256
@hpoul cool man. Thanks for keeping the updates.

[2021-08-21 21:55] uV3301 commented on #256
Hey @hpoul I just want to know if the keyfile should just contain the master password's string value converted to byte data. Or It should be formatted like the file ya sent me before in xml tempate here <a>https://github.com/authpass/kdbx.dart/blob/master/test/keyfile/keyfilev2.keyx<a>
If the later one is the case, then how is that hash data generated and the codes below too.
Could you guide me a

[2021-08-22 12:59] GlenCooper commented on #257
Upgraded f-droid from v1.12.1 to 1.13.1.

Tried the install of AuthPass again and now it's downloading it fine without issue.  Thanks @hpoul for the suggestion to update f-droid, it appears that was the solution to my problem.

[2021-08-22 12:59] #257 closed

[2021-08-22 16:04] MountainX opened #259 "AuthPass Cloud confirmation times out too quickly (and Google ReCaptcha is a poor experience)"
Android logs related to https://forum.authpass.app/t/what-is-the-provider-of-org-freedesktop-secrets-for-kde-plasma-5/162
[logs.md.txt](https://github.com/authpass/authpass/files/7027683/logs.md.txt)

[2021-08-22 17:26] hpoul commented on #259
Thanks for the logs - just to make sure - in the end you were able to authenticate correctly, so the 404 is not a permanent error?
In which time zone are you? I think the log timings are in local time 🙄 .. Maybe I can compare it to what happened on the server.

Right now I still can't quite figure out how there can ever be a 404.. this should only happen when the token is either missing in the req

[2021-08-23 08:30] saurabh-m-w opened #261 "Android:App should auto lock on pause"
On pause method app should auto lock ,allow user to set time,after that time app shoud ask for authentication.

[2021-08-23 09:13] hpoul commented on #261
Duplicate of #14

[2021-08-23 09:13] #261 closed

[2021-08-23 09:41] gagarine commented on #13
Any app can access the clipboard, it’s insecure to copy/past password. https://arstechnica.com/gadgets/2020/06/tiktok-and-53-other-ios-apps-still-snoop-your-sensitive-clipboard-data/

[2021-08-23 10:10] hpoul commented on #13
1. Don't install apps you don't trust 😂
2. See #31
3. PRs and contributions welcome, reiterating the obvious not so much.

[2021-08-23 17:47] uV3301 commented on #256
Hey @hpoul You told that the master password is stored in memory right. Could you show me how can access it ? Thanks

[2021-08-23 18:00] hpoul commented on #256
hmm? it's stored in the `KdbxFile` class in the `credentials` property.. in case it was opened with a password. If it was opened through "quick unlock" it will only contain the hash.

[2021-08-23 20:56] uV3301 commented on #256
Oh okay I see. To keep things uniform, we should only generate the keyfile with password right. Is it possible to first convert back to the password with that hash ?

[2021-08-24 00:31] LinThonax commented on #259
Link:. - https://shan77.com:8888/page/login/login.aspx
IDusername_ MK2222
Please 🙏 ineed password

[2021-08-26 11:29] hpoul opened #263 "Improve handling of "internal" files"
When the user creates a new file by default we simply put it into the application document directory. Now that #260 is implemented users can remove them from the `recents` and basically can't open them any more.

The implementation of creating new files:

https://github.com/authpass/authpass/blob/648a75e9547fddbfe1a27ebc4084dd76718740ae/authpass/lib/bloc/kdbx_bloc.dart#L608-L612

[ ] If the FileSo

[2021-08-27 08:11] hpoul opened #264 "Make sure people remember their master password when using quick unlock"
People tend to forget their master password when they always use quick unlock. We should challenge people on every X-th time to enter their master password, so they remember it before it is too late.

Suggested steps (open for discussion ;-) )

* [ ] Add a `Map<String, int> quickUnlockCounter`  to `AppData` which records the `uuid` of the `FileSource` for every quick unlock and increments the coun

[2021-08-30 21:09] BhavikBolya opened #265 "pub get failed"
[authpass] flutter pub get
Running "flutter pub get" in authpass...
Because every version of integration_test from sdk depends on file 6.1.0 and authpass depends on file ^6.1.2, integration_test from sdk is forbidden.

So, because authpass depends on integration_test any from sdk, version solving failed.
pub get failed (1; So, because authpass depends on integration_test any from sdk, version solv

[2021-08-31 02:06] hpoul commented on #265
Did you use the latest Flutter dev release?

https://github.com/authpass/authpass/blob/9fa32542a9a1678ff9f220f78f6ad26737fc2fa7/authpass/_tools/_flutter_version_update.dart#L15

[2021-08-31 02:06] #265 closed

[2021-08-31 11:06] hpoul opened #266 "Linux: Document required compile dependencies"
I guess the source of truth is the build file.. but it would still be nice to remember which dependency is required for what..

https://github.com/authpass/authpass/blob/1dbf03339a077285f75764da7a327750f7167769/.github/workflows/linux.yml#L33-L42

* keybinder-3.0 for `hotkey_manager`

[2021-09-03 08:47] hpoul commented on #72
fyi, there is now a reminder to use a cloud service. So i think this issue is resolved.

[2021-09-03 08:47] #72 closed

[2021-09-03 08:54] hpoul opened #267 "Tablets/Desktop: Allow a three column layout with fixed group list"
When there is enough horizontal space we could have the group list all the way to the left.. so we would have:

Group list | Entry List | Entry Details
------------ | ------------- | --------
 *groups* | *entries* | *details*

[2021-09-06 20:25] Trekky12 commented on #251
Hey @hpoul, I noticed that the field is now no longer updated when a title is inserted. Is it possible that this fix broke that?

[2021-09-06 20:29] Trekky12 commented on #252
Thank you very much for your effort. Unfortunately I noticed another inconsistence:
when a new entry is discarded the view changes to the list but the saving icon is still visible.

[2021-09-06 20:39] hpoul commented on #252
unfortunately the revert changes is completely broken.. not just for new entries

* #91

[2021-09-08 13:39] tiborrr opened #268 "Cannot open file attachment on ubuntu"
**Describe the bug**
Clicking "open" on a file (i have tested jpg, png and pdf) on authpass linux does not open anything. I have tested on keepass to android to check if files are corrupted, but that is not the case. I can open the files without any issue.

Either having the button work on linux or having a save locally button would be a possible solution.

**Desktop (please complete the following

[2021-09-08 14:19] hpoul commented on #268
Hmm.. "save" is actually only available on ios and android, which is a bit weird 😅️

Maybe you could look into the log file. It saves into a temporary file and then tries to open it. You should see in the log file something like:

[code]

[2021-09-09 10:43] hpoul opened #270 "Improve keyboard shortcut help dialog"
Right now this is very rudimentary making use of debug strings provided by the flutter framework.
this should be cleaned up and presented in a nice(r) way.

<img width="456" alt="Screen Shot 2021-09-09 at 12 41 32" src="https://user-images.githubusercontent.com/313066/132672027-3b3ed48b-7ffb-48a8-b6c2-e625c738c26a.png">

[2021-09-09 18:07] tiborrr commented on #268
Where do I find the log files. I could not find any instruction on the main git readme

[2021-09-09 18:26] hpoul commented on #268
You can find the path at the bottom of the about dialog (you might have to scroll to the bottom):

<img width="456" alt="Screen Shot 2021-09-09 at 20 26 32" src="https://user-images.githubusercontent.com/313066/132742135-0c257615-c2d5-4387-88e3-273b91ea814c.png">

[2021-09-12 13:05] hpoul opened #271 "Linux distribution: Create flatpak build"
Currently AuthPass is only built as snap - It would be nice to also support flatpaks.

See https://github.com/authpass/authpass/blob/master/snap/snapcraft.yaml for the snapcraft config. I guess the flatpak shouldn't be too different.

[2021-09-12 13:07] hpoul opened #272 "Linux distribution: Create debian package (.deb) (for ubuntu and debian)"
I previously tried to build `ppa` packages for ubuntu at https://github.com/authpass/authpass-deb but I don't think this works anymore.
It would be nice to make AuthPass available as deb packages. Maybe using a custom repository on `https://data.authpass.app`.

This issue is for creating a github workflow which builds a debian package and maybe a directory archive or hierarchy which can be rsync'd

[2021-09-12 18:10] Satendra124 commented on #267
Hey I am a bit new to this,
I am willing to contribute to this issue can you provide more information of which UI are you taking about ?
Thanks

[2021-09-12 18:20] hpoul commented on #267
@Satendra124 sure, when you open a password file with AuthPass this is the current view you get:

<img width="912" alt="Screen Shot 2021-09-12 at 20 17 40" src="https://user-images.githubusercontent.com/313066/132998406-c45882e1-fa55-448e-9ff3-09347542391d.png">

which as two columns. 1.) The list of passwords and 2.) the password entry details

When you press the hamburger menu on the top right,

[2021-09-12 18:28] Satendra124 commented on #267
Thanks for the response!
So something like this should do?
![image](https://user-images.githubusercontent.com/60358771/132998710-3e561a59-7073-4a40-8578-2c499b84af79.png)
Please let me know for any further changes

[2021-09-12 18:51] hpoul commented on #267
@Satendra124 yes, exactly.. something like this. It should probably be either an option or some "pin" toggle button or something.

[2021-09-13 02:16] datocrats-org commented on #256
Just discovered this project, it's great and targets a bunch of use cases. I suggest adding some form of native hardware secured encryption, at least in the keyfile master decryption key context.  I am going to study how you used the win32 api wrapper to the credstore and see if I can port a Windows TPM C++ API into Dart for starters.

I think that the hardware protection could help improve securi

[2021-09-13 08:03] hpoul commented on #256
@datocrats-org the windows credstore is simply accessed using [dart:ffi](https://dart.dev/guides/libraries/c-interop). (the interface itself was actually contributed to the [win32 pub package](https://pub.dev/packages/win32)).

I don't have any experience with TPM. But I doubt it could be too useful. Even if it provides some form of 2nd factor, it would be bound to one specific machine (as far as

[2021-09-13 08:07] hpoul commented on #256
@datocrats-org As I said, I have no idea about TPM, but this makes no sense to me. What do you mean with "hardware validated" in this case? To me this would only make sense if you would store the client certificates actually inside the hardware, and don't use passwords stored in AuthPass. Anything provided by AuthPass, can't be "hardware validated", as AuthPass does not run on hardware 🤔️

[2021-09-15 05:21] Atharva321 commented on #272
Hii, I am interetsed to work on this issue.
What steps should I follow?
I am a beginner.

[2021-09-15 07:01] hpoul commented on #272
@Atharva321 beginner in what exactly? First understand how to build Debian packages.. then turn the`tar.gz` into an installable Debian packages.. then see how to host a deb package repository.. afterwards integrate everything into a github actions workflow..

If you are a beginner in all of this, it will probably take quite some effort. And since I'm no Linux user and have no experience with deb p

[2021-09-15 17:05] Atharva321 commented on #272
I want to give it a try.

[2021-09-15 18:42] hpoul commented on #272
@Atharva321 👍️ awesome.. let me know if I can help you with anything.. I guess it would be the easiest to take the built `.tar.gz` and just package it up.. https://authpass-data.codeux.design/data/artifacts/authpass-linux-latest.tar.gz .. the last time I played around with the dependencies I came up with where https://github.com/authpass/authpass-deb/blob/master/substvars
the nicest thing I guess

[2021-09-16 04:06] jwmh commented on #83
@hpoul sorry. i was following up on the OP's #1 request.  I see that you added the Import feature (great!), my q was re the other half of the OP's feature request..... And responding to your comment "also this is not the place for...feature requests..." Has that policy changed since the OP posted above???

[2021-09-16 07:44] hpoul commented on #83
@jwmh No there is no import feature, see #152 Or see [this FAQ in the forum: https://forum.authpass.app/t/how-can-i-import-my-existing-passwords-into-authpass/24](https://forum.authpass.app/t/how-can-i-import-my-existing-passwords-into-authpass/24). - There is no export either, because imho kdbx format is pretty much as close to an open standard as you can get.. as there are dozens of libraries, a

[2021-09-21 07:28] tiborrr opened #274 "Path for logs in about incorrect on Ubuntu installed via Snap"
When authpass is installed via snap on Ubuntu the path for logs in the about screen is displayed as `/tmp/logs/app.log.txt` while it should be `/tmp/snap.authpass/tmp/logs/app.log.txt`

[2021-09-21 07:32] hpoul commented on #274
Can you give any details? I don't think it's possible to get the absolute directory outside the sandbox? 🤔️

[2021-09-21 07:56] tiborrr commented on #268
Just found that the path is incorrect for the log file in the screen. See #274

I have the following in the logs when the opening in a file

[code]

[2021-09-21 08:00] tiborrr commented on #268
Might this have something to do with the default snap settings in Ubuntu? As a user I do not have access to the snap.authpass folder. Only root has access to these files.

[2021-09-21 08:06] tiborrr commented on #274
Can't it be hardcoded? If you install it via snap. Isn't the path the same on all versions of Ubuntu?

[2021-09-21 08:18] hpoul commented on #274
I can't imagine this being true.. tmp direction is typically configurable..
fwiw, the snap is just a repackage of the .tar.gz release, so there is no difference between the code being run

[2021-09-21 08:19] hpoul commented on #268
Okay that sounds very related to #274 especially since both use the tmp dir.. 🤔

[2021-09-21 08:26] tiborrr commented on #274
I leave it to you what you want to do with this issue. If you keep it as is, that is also fine by me.

[2021-10-02 03:41] Zebartin opened #275 "CERTIFICATE_VERIFY_FAILED: certificate has expired"
**Describe the bug**
Can not open kdbx file with an error report reading certificate has expired.
I have no problem with accessing from my Android phone at the same time.

**To Reproduce**
Just opened my last opened kdbx file and failed to access it.
I came across similar issue when I tried to log in the authpass cloud.

**Expected behavior**
My file should be opened and the authpass cloud can be

[2021-10-02 03:51] hpoul commented on #275
Can you access https://cloud.authpass.app/ in your browser? (A "not found" is okay, as long as the ssl connection can be authenticated)?

Can you make sure the date/time of you PC is set correctly? 😬

[2021-10-02 04:36] Zebartin commented on #275
Yes for both. I can access it on my Chrome and the date&time on my PC is setup as synchronized with the Internet.

[2021-10-02 06:38] hpoul commented on #275
Can you please check and maybe attach the log file? You can find the path in the about dialog.

[2021-10-02 07:06] Zebartin commented on #275
Here it is, when I was trying to logging in to the cloud. Please take a look.
[code]

[2021-10-02 12:06] Turux opened #276 "Authpass does not load on Ubuntu Desktop 21.04 on Raspberry Pi 4"
**Describe the bug**
On a freshly installed Ubuntu Desktop 21.04 on Raspberry Pi 4 (64-bit) Authpass does not start.
This is using the Snap store version of the app.

**To Reproduce**
Steps to reproduce the behaviour:
1. Acquire Raspberry Pi 4B (with 4GB of RAM or more)
2. Install Ubuntu Desktop 21.04 64-bit (arm64) (official image)
3. snap install authpass
4. Launch Authpass
5. Nothing happens

*

[2021-10-02 18:31] hpoul commented on #276
I guess this is at least blocked by flutter not easily supporting arm64 targets:

* https://github.com/flutter/flutter/issues/60678
* https://github.com/flutter/flutter/issues/74929

Although I'm not sure if it would run even with those on a raspberry pi, i think Flutter is a bit picky about graphics cards, although I've got no idea what the exact requirements would be 🤔

[2021-10-04 04:15] wallzero commented on #109
I also suggest the password reveal use a different font. My case just a couple hours ago was having trouble distinguishing a zero `0` from a capital `O`.

[2021-10-04 10:03] hpoul commented on #109
@wallzero i see no such problem in the password present. The reveal users the default font, which is correct.

![Screenshot_20211004-120208_AuthPass](https://user-images.githubusercontent.com/313066/135832375-a30091ed-d48c-4dd7-9fae-e33211663473.jpg)

[2021-10-04 10:03] #109 closed

[2021-10-09 11:28] Zebartin commented on #275
What can I do now to temporarily resolve the error? I have tried reinstalling and it went the same.

[2021-10-13 08:49] lijy91 commented on #201
I think you can use [`tray_manager`](https://github.com/leanflutter/tray_manager) to add a system tray for authpass.

Example:
[code]

[2021-10-15 08:47] zhouslive opened #278 "Prioritize the needs"
After conducting the user research and competitive analysis ,I summarized several needs.Please open the [link](https://docs.google.com/forms/d/e/1FAIpQLSdfFNeA0zpLzTmtT6uXwmbA3dIrXoMVRFCr5L1uTbRp4mG-bg/viewform?usp=sf_link) and vote the needs to help us inform UX decisions.

[2021-10-19 19:19] hpoul commented on #271
@jacobprudhomme sure, would be great, i don't think anyone else is working on it right now, do go ahead 👍

[2021-10-27 08:49] H3rby7 opened #279 "Google Drive Integration Fails (Manjaro linux)"
**Describe the bug**
Google Drive Login does not work (shows blank page on authpass)

**To Reproduce**
Steps to reproduce the behavior:
1. Install authpass using https://github.com/authpass/authpass/releases/tag/v1.6.3 - downloading and extracting 'tar.tgz'
2. Launch authpass (authpass/authpass)
3. Click 'Load from google drive'
4. Login with browser as desired, copy the code
5. Click on ENTER cod

[2021-10-27 09:00] #279 closed, assigned to nobody

[2021-10-29 08:25] Yoannjap opened #281 "Impossible to reset the icon of an entry"
Hello!

1. Still last week, I was using on Android KeePassX, but a few days ago, I changed of app to use my .kdbx database, and I chose the great Authpass.
My database was created and edited for lon with KeePassX, that let you chose a custom icon for each new entry you add, what I did.

However now, with Authpass, for the already existing entries for which I set a custom icon with KeePassX, it is

[2021-11-05 16:50] MichiFr opened #282 "WebDAV download crashes"
So basically WebDAV storage downloads works perfectly well!

It does not work with the following workflow. Let me begin with Keepass2Android. This app has WebDAV download capabilities, too. However, when there is no internet connection, Keepass2Android uses a previously cached password file and opens this instead, flawlessly.

AuthPass works slightly different when offline. First it tries to acces

[2021-12-07 15:10] twang2218 opened #283 "Error "Couldn't open libEGL.so.1" on Linux snap distribution"
**Describe the bug**

After install the authpass on Linux via snap store, it failed to launch the app. Clicked the `AuthPass` app icon and nothing happened. Run `authpass` command on the term, it output following errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:

*Install the authpass*

[code]

I tested all the channels:

* `stable`: `1.9.2+1834`
* `beta`: `1.9.4+1872`
* `edge`: `

[2021-12-15 01:02] gryphonmyers commented on #30
I get this exact problem as well on my new Poco X3 NFC. It worked great on my old Motorola phone. There is a clear pattern here - everyone in this thread suffering from this problem is using Xiaomi MIUI. There must be some customization they put in place that breaks authpass' autofill. @hpoul I am happy to provide any assistance debugging this issue. Really missing autofill on this phone

[2021-12-15 01:32] gryphonmyers commented on #30
Actually, I figured out the cause and workaround! Go into Settings -> Apps -> Manage Apps -> Authpass -> Other Permissions -> Display pop-up windows while running in the background. Enable this. Autofill should work now

[2021-12-26 15:06] Darthagnon commented on #223
Tested the latest version just now, didn't notice any problems with this.

[2021-12-26 15:09] Darthagnon opened #284 "Ctrl+Alt+F crashed Authpass"
**Describe the bug**
Testing the universal search keyboard shortcut. It worked briefly, then when I tried again, it did not bring the window to the foreground or anything, and when I spammed Ctrl+Alt+F a few times to try and elicit a response, Authpass crashed.

**Desktop (please complete the following information):**
 - OS: Win10 v1709
 - Browser: N/A
 - Version: v1.9.4+1872

[2021-12-28 10:29] AliAkberAakash commented on #270
is anyone working on this? I would like to contribute.

[2022-01-02 09:20] Yoannjap opened #285 "kDrive charged from WebDav doesn't load files"
Hello,

I store my kerpass files in my kDrive (Infomaniak) folder, using WebDav option in AuthPass.

However, only a 'trash' folder appears, and not my regular kDrive folder, which make impossible to select my kerpass file save in it!

Could you add kDrive charging?

Thanks a lot for your work.

[2022-01-02 15:56] MarvinSequera opened #286 "Authpass Crash at launch"
**Describe the bug**
I get this message on the terminal
(authpass:10496): Gdk-ERROR **: 16:46:15.179: The program 'authpass' received an X Window System error.
This probably reflects a bug in the program.
The error was 'BadAlloc'.
  (Details: serial 380 error_code 11 request_code 149 (unknown) minor_code 2)
  (Note to programmers: normally, X errors are reported asynchronously;
   that is, you wil

[2022-01-05 15:59] MkQtS opened #287 "Can not distinguish kdbx files from dirrerent webdav servers"
**Describe the bug**
I have two kdbx files saved in two webdav servers. The file name and path are same. Like `dav.server1.com/Keepass/example.kdbx` and `dav.server2.com/Keepass/example.kdbx`.(Just for backup) When one kdbx file is unlocked, choose to open another database from another webdav server, select the secend kdbx file, then enter the database's password, the app reports error: `File alre

[2022-01-18 15:46] luisantonpi commented on #136
Yep, and I can confirm myself that I've experienced this same bug myself more than a year later, on both ProtonMail's and Tutanota's login screens: https://emma.cloud.tabdigital.eu/s/Aa2g7jxBrAq9drF

[2022-02-10 04:30] yangrongxiang opened #288 "mama guangli"

[2022-02-13 09:27] Trekky12 opened #289 "Group field is not updated on new entry when title is inserted first"
Similar to issue #251 which is already fixed there is another issue regarding group fields on new entries:

When creating a new password entry and the first action is inserting the title and afterwards the the group (folder) is changed the toast message is shown that the entry is moved, but the field for the group is not updated with the new value.
This behaviour occurs only when the title is inse

[2022-02-13 09:30] Trekky12 opened #290 "Title of password entry is not shown in header after new entry is saved"
When a new password entry is created and saved (in the new password entry view) the title in the header is not updated and still shows "(no title)".

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "+" button
2. Insert a value for the title
3. Click on save icon
4. After successfully saving the save icon is hidden but the title of the password entry is not updated

**Expected behavio

[2022-02-14 14:11] peedy2495 opened #291 "Improvement: Move and Copy selected Password to another opened File"
This feature would be an effective way to seed credentials to a closed group (@work, family, etc) via file
or rearrange Credentials between different files

[2022-02-17 05:46] digitaleagle opened #292 "Update PPA"
**Describe the bug**
Would it be possible to update the Launchpad PPA so that Ubuntu 21.10 is supported?  There is no Impish directory there, so if you add the PPA, updates fail.

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps on https://authpass.app/articles/linux-desktop-release-authpass-1.6.3/
1. Add the repository
[code]
2. The update produces the error
[code]

**Expected b

[2022-02-28 17:19] MateusBMP commented on #226
Same issue on Windows 11:

![image](https://user-images.githubusercontent.com/42280089/156028025-e2bd5e23-ec7c-46ce-8189-d1bfe9f3f7ff.png)

In this case, the problem persists after closing the software.

[2022-03-05 20:13] gentr opened #293 "resolved"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-05 20:14] gentr commented on #293
I have installing authpass, confirm email and not showing the option to enter password to open folder on authpass cloud

[2022-03-07 08:17] ArtexJay commented on #152
I believe Bitwarden also exports using json, though i seem to remember also being able to export csv from it.
Lack of CSV import is pretty much the only reason I didn't end up migrating to this manager.

[2022-03-07 09:49] 14v commented on #136
Same behaviour like on @luisantonpi screen record on different login forms. After about 10 times clicking on fields autofill popup ends flickering and stays on screen able to be used.

[2022-03-12 05:27] Wszl commented on #226
![Screenshot 2022-03-12 132259](https://user-images.githubusercontent.com/19342733/158005127-350dcb4f-ba79-4ce3-bb6d-847fa68badff.png)
Win10 Pro.  App from Microsoft Store

[2022-03-15 22:28] abda11ah opened #294 "Can't open database with '' as password"
**Describe the bug**
Hi again,
I already reported a such bug but it was for a non password locked database and it was fixed.
But now we can't open a database where password is set but empty.
(I mean a kbdx file)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new kbdx on Keepass for linux and set nothing as password
2. Ignore the "warning empty password message"
3. Save some logins

[2022-03-18 17:55] abda11ah commented on #152
Hi,
I just opened a new authpass cloud account.
It's a really good app but I have over 500 passwords stored on Chrome.
The manual import (copy/paste)/will be very tiring
I think the priority should be to be able to import a kbdx file into Authpass-cloud and then be able to import a CSV file from Chrome to Authpass-cloud

[2022-03-19 16:04] the-code-creator commented on #152
@abda11ah Hello,
I also request that a CSV import & export feature gets added. :+1:

When I switched to AuthPass, I used this workaround:

Download [KeePassXC](https://keepassxc.org/download/) on Linux/Windows
Use their CSV import feature
Safe the database on my device & open it with AuthPass
Because KeePass/KeePassXC and AuthPass use the same database format (.kdbx), they are all compatible with

[2022-03-19 16:51] the-code-creator opened #295 "Many Suggestions & Feedback for AuthPass"
## **Many Suggestions & Feedback for AuthPass**

**Hello guys**,
I've been searching for an open source, offline password manager and ended up with **AuthPass**, because it's available on all major platforms **including iOS** which is unique.👍

I have some suggestions & feedback for AuthPass that I'd like to share:

### **Features to be added in the settings:**

* Autosave option

* Clipboard auto

[2022-03-20 09:42] softrider70 commented on #31
The other password safes under ios like Authenticator or msecure are registered in ‚automatsch ausfüllen‘, so maybe you need the methodes behind this, to implement the autofill.
Would be great if this works.

[2022-03-22 18:29] ctophs opened #296 "Abandoned?"
many issues unanswered since september 2021. Is this software still maintained?

@hpoul

[2022-03-22 18:45] hpoul commented on #296
Still alive, feel free to submit PRs

[2022-03-22 18:45] #296 closed

[2022-04-03 06:45] hpoul commented on #295
Hello,
thanks for all your feedback. unfortunately i'm pretty busy atm with other things. And I think it would be better to split up each suggestion and discuss it in a separate thread in the forum suggestions.. But honestly, until somebody would be interested to contribute code, the chances are that I won't be able to implement everything on my own 😂 I'm also pretty much limited to MacOS and Andr

[2022-04-03 06:45] #295 closed

[2022-04-05 01:40] the-code-creator opened #297 "Selected filters should be saved and preserved after closing the app."
Every time you open a database, the last used filters should be applied.

This would be very convenient.👍

[2022-04-05 01:46] the-code-creator commented on #295
@hpoul Maybe other people here on GitHub would like to comment on my suggestions, so please leave it open.😄

[2022-04-05 05:00] MkQtS opened #298 "Use checkbox in "Customize Search filds""
Now this setting needs type English words, and we don't exactly know which ranges or words are valid. Checkbox would be better.

A bit like *Generate Passwords*:

![pic](https://user-images.githubusercontent.com/81752398/161681129-7b9ee46c-a9a8-4b50-b5fb-4a2496b94933.jpg)

[2022-04-05 05:18] hpoul commented on #298
This very much depends on the keepass file you have open and how you name your fields... There is no way to show a checkbox for all possible choices, as there are infinitely many.
But if you want to search through all, just type `*`

[2022-04-05 05:43] MkQtS commented on #298
How about showing most common fields like "title, user name, password, url, notes", then add an "*Other fields*" option and generalize other left fields to *Other fields*?

[2022-04-05 20:44] gladel commented on #14
Perhaps auto close all files at specified interval?

[2022-04-22 01:49] gasprag opened #300 "diferent"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-04-22 01:50] #300 closed

[2022-05-02 09:26] Turux opened #301 "Cannot load database from local file"
On the Microsoft Store version of AuthPass, when attempting to load a database form the local hard drive the following error message is displayed:
`Unexpected Error: Directory listing failed, path='C:\Users\***\Documents\My Music\*' (OS Error: Access is denied. , errno=5)`

**To Reproduce**
Steps to reproduce the behavior:
1. Install Authpass from the Microsoft Store
2. Click on 'Load from ...'
3.

[2022-05-09 18:48] girlmaya opened #302 "Option to display entries non-recursively"
[Hi](https://youtube.com/watch?v=4O9vrKXUv-g)

Using authpass 1.9.4+159 on Android.

I would appreciate an option to display the contents of a database similarly to a regular file browser, not recursively.

I appreciate the support for folders so far but I don't find much use in displaying the folders separately if opening a folder displays all contents recursively. My passwords are stored in the

[2022-05-14 08:15] WesRos commented on #136
@hpoul
I had the same. After make some changes in the app permissions, Authpass works as expected.

[2022-05-19 09:20] hgkamath opened #303 "discard changes does not discard changes for password field"
using android 1.9.4

priority important.
  As destroying password is bad.

Sometimes a user may clobber a field by accidental keypress, in particular the password field. Worst sort of clobber  is when a select-highlight exists on field text.
The best strategy then is to to do back and select 'Discard changes'

The 'Discard changes works' when backing from other clobbered up fields (title, website

[2022-05-19 12:30] hgkamath opened #304 "[RFE] upon opening entry present user with fields in view-only mode and button to enter edit mode"
this was suggested in issue #303

Feature request

### Description
Upon opening pre-existing entry from 'entry-list' activity-window, first take user to a 'view-only-mode' activity window. In this 'view-only-mode' window, the user should be able to view values of fields in non-edit-able view-only-label-fields and hence, should not be able to edit. An 'edit' button this 'view-only mode' activity wi

[2022-06-12 14:06] MkQtS opened #306 "1.9.5 Errors when opening "Preferences" and "Send logs""
**Describe the bug**

I am using authpass-sideload-1.9.5. The application reports errors when opening *Preferences* or *Send logs*.

**To Reproduce**

1. Just open *Preferences* or *Send logs* from home page
2. See error

**Screenshots**

![Preferences](https://user-images.githubusercontent.com/81752398/173236840-667431f9-f2a9-4854-83e1-a10adaf76469.png)
![Send logs](https://user-images.githubuser

[2022-06-12 14:07] MkQtS commented on #306
The log is as follows:

[code]

[2022-06-12 17:17] marclaporte commented on #293
Can someone with permissions close this?

[2022-06-12 19:27] #293 closed

[2022-06-15 00:37] Dboy233 opened #307 "Win10 Indicates that a virus exists."
Win10 Indicates that a virus exists.

![image](https://user-images.githubusercontent.com/37604230/173712015-0f3b6d0e-b18a-4786-91f5-1d4f637ebd6a.png)

[2022-06-15 07:12] hpoul commented on #307
🤷‍♂️ can't fix the windows virus scanner.. from what i see everything seems clean https://virusscan.jotti.org/en-US/filescanjob/ujelaq7lef

[2022-06-15 07:12] #307 closed

[2022-06-17 06:54] hpoul commented on #226
@MateusBMP that's great to hear, thanks for the update.. I think 1.9.6 is the first version where flutter support for windows and linux is actually deemed "stable", so it's possible there have been a few optimizations under the hood.
I guess you tried the windows version? maybe someone could also try out the linux version 😅

[2022-06-17 06:56] hpoul commented on #304
see
* #148
* #107

[2022-06-17 06:56] #304 closed

[2022-06-17 07:05] hpoul commented on #302
I guess it would be possible to show a checkbox in the filter screen which currently states "recursively" to toggle between recursive and flat.. is that what you mean?

<img width="299" alt="Screen Shot 2022-06-17 at 09 02 38" src="https://user-images.githubusercontent.com/313066/174243855-3ba79f3a-9e0e-48de-8499-fd8ffcb50a69.png">

(ie. show only entries in the selected group, without subgroups..

[2022-06-17 08:39] girlmaya commented on #302
Thanks for getting back to me
I think that would work fine, though i would prefer if it listed the Groups as folders in the password list. Either way i just wish to be able to view my password list without the contents of each subfolder aswell

[2022-06-20 14:51] H3rby7 commented on #226
Windows 11, Problem persists (installed version 1.9.6+1904

For me it is 'even worse'.

CPU | Memory
--- | ---
around 17% | around 100MB

These are the resources, before I even open a Keepass file :/

[2022-06-21 11:06] urmomsangus opened #308 "[Feature Request] Better documentation for Authpass Cloud"
It would be nice to have the link for at least this ( https://authpass.app/docs/authpass-cloud/ ) on the main Authpass github repo readme.

Also, I can't find any server info for Authpass. I think describing the server encryption, location, uptime, etc. would be beneficial for trusting Authpass Cloud. Maybe similar to Bitwarden's documentation: https://bitwarden.com/help/data-storage/

Personally,

[2022-06-21 11:32] GameTec-live commented on #272
dont rly think so, even tho for advanced packages this is needed...

[2022-06-21 11:33] GameTec-live commented on #272
@hpoul i could give it a try to create a actions workflow, as soon as i find time...

[2022-06-21 14:31] hpoul commented on #308
Regarding security: You can find the source code at https://github.com/authpass/authpass-cloud - but basically the client only sents fully encrypted files to the server, so there is no need to further encrypt it anyway.
Emails aren't encrypted either, it is meant for throwaway emails (ie. password confirmation emails, nothing more).

Regarding losing access: you can see uptime at https://status.au

[2022-06-21 14:35] urmomsangus commented on #308
Thanks for the response. I completely understand the hobby aspect.

Feel free to close this if you want, or I can, but my suggestion still stands to possibly incorporate the status link and server info into the main readme, even though the server has a separate repo.

Thanks again.

[2022-06-21 19:19] hpoul commented on #226
It seems there where a few changes in flutter regarding cpu usage on windows:

* https://github.com/flutter/flutter/issues/78517
* https://github.com/flutter/flutter/pull/79969

but it requires a new version of the app wrapper / windows template. So I've now recreated it for AuthPass: https://github.com/authpass/authpass/commit/c1dd543805c76763c13729413b80fc715b077625

Maybe you could give it a tr

[2022-06-22 11:54] GameTec-live commented on #272
i think i have a data structure, that could work...
<img width="494" alt="image" src="https://user-images.githubusercontent.com/66077766/175022962-2123d697-da53-4b22-b463-bce6f2dcbcdd.png">

[2022-06-22 13:40] GameTec-live commented on #272
[authpass.zip](https://github.com/authpass/authpass/files/8958153/authpass.zip)
i think ive got to throw in the towel for now, it builds and if you run /opt/authpass it works, but im rn failing at the symlink postinstall script part.... maybe ill come back later

[2022-06-23 11:30] H3rby7 commented on #226
Works like a CHARM! and is down to < 1% CPU useage now - perfect! Thank you very much :)

[2022-06-23 12:38] GameTec-live commented on #272
i got it to build without errors! @hpoul
now ive just got to make it into a actions flow and do some finetweakin
[authpass.zip](https://github.com/authpass/authpass/files/8967179/authpass.zip)
g

[2022-06-23 12:52] GameTec-live commented on #272
would it be possible to include a svg version of the logo in the source?

[2022-06-23 12:54] GameTec-live opened #309 "[Item request] SVG version of the logo included in source"
This issue is related to #272. Id like to have a SVG version of the logo somewhere in the source. (PLS somewhere in the data folder!)

[2022-06-23 13:00] GameTec-live commented on #272
and for completeness, here is the tree...
<img width="432" alt="image" src="https://user-images.githubusercontent.com/66077766/175304494-1313e36a-b076-48e3-ba58-88a2dae6824e.png">
ima continue tomorrow, where hopefully a svg icon is included

[2022-06-23 14:43] hpoul commented on #309
well, if you mean the bare bones logo for the launch icon, it's actually already in the repository twice:

* https://github.com/authpass/authpass/blob/main/_docs/authpass-logo.svg
* https://github.com/authpass/authpass/blob/main/authpass/ios/Runner/AuthPassMacLogo.svg

why do you need it? Which data directory? feel free to copy it to another location.. but I prefer if it when it would only end up

[2022-06-23 15:06] GameTec-live commented on #309
https://github.com/authpass/authpass/blob/main/_docs/authpass-logo.svg and this is the logo i meant... (including it in the tarball would make stuff easier!)

[2022-06-23 15:25] GameTec-live commented on #309
i found a pretty easy way to do that with actions, so if you dont want to, its ok...

[2022-06-23 15:25] #309 closed

[2022-06-23 17:31] GameTec-live commented on #272
Got it! pr #310 open!

[2022-06-24 11:46] hpoul commented on #272
Okay perfect, thanks to @GameTec-live there is now a debian package.. 🥳

[2022-06-24 11:46] #272 closed

[2022-06-24 11:53] GameTec-live opened #311 "PPA for debianubuntu"
in relation with #272 and #310. mostly discussion issue and to keep track of stuff...

[2022-06-24 11:54] GameTec-live commented on #311
@hpoul do we have a gpg2 key pair? would be needed... https://wiki.ubuntuusers.de/GnuPG/#Schluesselpaar-erzeugen

[2022-06-24 12:19] hpoul commented on #311
shouldn't be a problem to create gpg key pair.. you could just put them into the repo for now, and i'll exchange it for secret once later..
launchpad was a bit difficult iirc.. i would rather just host it myself..

[2022-06-24 12:32] GameTec-live commented on #311
the problem with selfhost rn is, that the quick way is insecure and the other way takes an eternety... XD

[2022-06-24 13:09] GameTec-live commented on #311
im rn struggeling with signing...

[2022-06-24 13:15] GameTec-live commented on #311
@hpoul Im sorry, but ive got to give up for now... All i get is outdated software with no docs, signing errors and dead ends... mabye ill come back another day...

[2022-06-24 13:25] GameTec-live commented on #311
maybe this does work? idk... https://assafmo.github.io/2019/05/02/ppa-repo-hosted-on-github.html

[2022-06-24 13:31] minimondo opened #312 "AuthPass 1.9.6+1904 (Apple Store, Apple M1 Max) does not download favicons for new entries"
I imported my database from KeePassXC; all the prior favicons are intact.

I have ticked the box to download favicons automatically, in Preferences.

For every new entry in AuthPass, the favicons are NOT downloaded. There seems to be no way to manually force such downloads, unlike KeePassXC.

I regard this as a major UI issue.

[2022-06-24 13:57] hpoul commented on #312
Can you give an example of an entry where the icons are missing? maybe a screenshot once you removed anything personal..

fwiw, unlike other clients (not sure about KeePassXC) the favicons in AuthPass are purely cosmetic.. they aren't "downloaded" and stored into the keepass file, they are just shown on-demand. that's why there is no way to manually "force downloads".. as simply scrolling to the e

[2022-06-24 16:10] GameTec-live commented on #311
@hpoul bad and good news... good news, in theory i found a way to sign and create the required files for a ppa, bad news, its not possible on github... u need a server like nginx for that...

[2022-06-24 17:19] hpoul commented on #311
1. we don't need PPA .. (afaik PPA is just the package archive and building process for launchpad.net .. we don't need anything from launchpad)
2. i have a web server @ https://data.authpass.app . if you create the correct file structure I can easily sync it and serve it publicly

[2022-06-25 03:52] minimondo commented on #312
Thanks for your prompt response. First, I was wrong - only _some_ websites don't result in downloaded favicons (I have identified one such site in the screenshot attached). I can't find the other website yet (I have a large database).

The website(s) do have favicons (which KeePassXC can download, for example).

The favicons being "cosmetic" is not a problem for me at all.

I'd be grateful if you

[2022-06-25 05:13] GameTec-live commented on #311
good... i can create some scripts and the folders in a min....

[2022-06-25 05:27] GameTec-live commented on #311
[ppa.tar.gz](https://github.com/authpass/authpass/files/8983958/ppa.tar.gz)
this tar.gz  is the entire directory structure and some scripts to update... (should work!)
add verify key: wget -qO - https://url/KEY.gpg | sudo apt-key add -
entry in the sources list: deb: https://url ./

[2022-06-25 07:15] hpoul commented on #312
the server didn't support 8 bit favicons .. I've updated a few dependencies and it seems to work now. If you have any further websites without images (which actually have favicons) feel free to open a new issue..

<img width="377" alt="Screen Shot 2022-06-25 at 09 14 11" src="https://user-images.githubusercontent.com/313066/175762959-825efdc6-7972-42fa-8d34-8a8eaa42b981.png">

[2022-06-25 07:15] #312 closed

[2022-06-25 10:30] hpoul commented on #271
fyi - I have now created a PR for submitting to flathub: https://github.com/flathub/flathub/pull/3285

Maybe someone could give the flatpak I've created a try? :-) @jacobprudhomme @x80486

[authpass-x86_64.zip](https://github.com/authpass/authpass/files/8984478/authpass-x86_64.zip)

[2022-06-26 15:38] x80486 commented on #271
I gave it a whirl. It builds and works fine :partying_face:

[2022-06-27 07:34] hpoul opened #313 "Improve/Document used directories and cleanup everything"
* AppData
* Cached databases from cloud storage
* Network Cache (favicons, CachedNetworkImage)
* "Internal" Password Files
* Temporary files

[2022-06-27 12:30] hpoul commented on #271
Its now available on flathub: https://flathub.org/apps/details/app.authpass.AuthPass 🥳

[2022-06-27 13:28] hpoul commented on #311
I've now searched whether there was a service for creating a debian repository.. and I found two..

https://packagecloud.io and https://gemfury.com/ .. Gemfury for some reason only showed me an error during upload. But i think i got package cloud to work.

Maybe you can give it a try @GameTec-live : https://packagecloud.io/authpass/authpass

but one thing which is missing for sure in the `.deb` pa

[2022-06-27 17:11] GameTec-live commented on #311
in the control file: Depends: ${shlibs:Depends}, love (>= 0.7.2)

[2022-06-27 18:18] hpoul commented on #311
It's been a long time before i looked at debian packaging.. but iirc this syntax is only useful if you are using [deb-shlibs](https://man7.org/linux/man-pages/man5/deb-shlibs.5.html)

i guess it's simply

[code]

🤔

[2022-06-27 18:27] hpoul commented on #311
@GameTec-live I've now added the dependency.. although i'm not sure it is working.. anyway.. have you tried installing through the repository @ https://packagecloud.io/authpass/authpass/packages/debian/stretch/authpass_1.9.6+1927_amd64.deb ?

[2022-06-27 18:30] GameTec-live commented on #311
not yet, but the builds from actions installed flawless

[2022-06-29 06:00] hpoul opened #314 "Linux: Cleanup .desktop files"
Right now there are multiple `.desktop` files:

- `metadata/linux/app.authpass.AuthPass.desktop` (used by flathub, must not be moved)
- `debian/usr/share/applications/authpass.desktop` (used by the debian package builder)

merge them into one file, and use the first one from the debian builder. (github action). Check whether the contents and settings make sense.

[2022-06-29 06:39] hpoul commented on #311
thanks.. I almost went crazy, until I realized the workflow replaced all `1.0` with the current version number.. that's why the `libsecret-1.0` dependency got screwed up.
Should be fixed now, maybe you can try another `apt install`. thanks.

[2022-06-29 11:24] jotbeh opened #318 "Authorization link provided during OneDrive login not working"
Hello everybody,

for about a week now, Authpass has prompted me to reauthorize its OneDrive access, as the granted token has expired.

However, when I try to log out of OD and then log in again, the provided authorization link (https://login.microsoftonline.com/common/oauth2/v2.0/authorize ... ) returns an "Address Not Found" error in the browser.

Did OneDrive perhaps change its authorization me

[2022-06-29 12:04] hpoul commented on #318
strange, everything works for me. Which version/platform of AuthPass are you using? Can you take a screenshot of the error message.

[2022-06-29 12:50] jotbeh commented on #318
I'm using the Android version: 1.9.6+1904.
The error message is the browser's usual "Address not found". I'm not redirected to a login page to put in my credentials.
![Screenshot_20220629-144906_Fennec](https://user-images.githubusercontent.com/27549997/176440427-bcb5b776-dbd1-4bd5-84f2-8b640ae1d26f.png)

[2022-06-29 13:09] hpoul commented on #318
This looks more like it can't resolve the host name, and not that the login is wrong. What happens when you open that url:

https://login.microsoftonline.com/ .. if this is working.. can you paste the full URL? I also don't understand why the address bar shows indicates an insecure page.. since it's definitely `https`.

[2022-06-29 13:41] jotbeh commented on #318
You're right, that _is_ strange. For some reason https://login.microsoftonline.com/ also isn't resolved. I tried disablingpprprivate DNS and ad-blocking addons, but no dice.
Seems to be an error specific to my device/setup.

[2022-06-29 19:01] #318 closed

[2022-07-01 12:45] GameTec-live commented on #311
oh, yeah... i did that to make it easier to add files that need the version swapped.... maybe just replace the 1.0 part with 0.0.... noone will use 0.0... (i hope...)

[2022-07-01 12:45] GameTec-live commented on #311
and maybe add a oneliner to add the repository to the readme or smthng

[2022-07-01 12:49] GameTec-live commented on #311
@hpoul im sorry, but you may now continue to be crazy.... XD
<img width="818" alt="image" src="https://user-images.githubusercontent.com/66077766/176897706-3f9880b8-504a-4e49-8d8c-7743953e954c.png">

PS: have you heard of virtualbox or wsl2?

[2022-07-01 14:22] hpoul commented on #311
🙄 for some reason i configured `1.15` instead of `0.15`.. can you please try again.. https://packagecloud.io/authpass/authpass/packages/debian/stretch/authpass_1.9.7+1941_amd64.deb now depends on `libsecret-1-0 (>= 0.15.0)`

[2022-07-01 16:57] GameTec-live commented on #311
id still like you to change the sed line and the one in the control file... or it will cause some problems in the future.... Thanks!

[2022-07-01 17:02] GameTec-live commented on #311
everything works now! (even via the repo, even tho you need to manually install the repo with the debian stretch main pack)

[2022-07-01 17:03] hpoul commented on #311
no idea what you are talking about, I've already changed it to only replace the `Version` line

https://github.com/authpass/authpass/blob/fc574cb6d5b719a1f472001c4ab2ae30277a57ae/.github/workflows/make_deb.yaml#L34-L35

great, thanks for testing!

[2022-07-02 08:31] Turux opened #319 "Microsoft Store App Does Not Load"
Authpass just loads a blank screen

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Authpass 1.9.7.0 installed from the Microsoft Store
4. See error

**Desktop (please complete the following information):**
 - OS: Windows 10 21H2
 - Authpass Version 1.9.7.0

[2022-07-02 09:27] hpoul commented on #319
can you check the windows event viewer if you find any error messages?

could you try an old version if that works for you: https://data.authpass.app/data/artifacts/AuthPass-setup-1.9.6_1908.exe

[2022-07-03 12:00] Turux commented on #319
Hi @hpoul,

No errors in the event viewer (I'm looking at the Application log, anywhere else I should check?)
Also, the normal executable works perfectly fine even with the latest version (1.9.7+1940).
This seems to be an issue exclusively with the Microsoft Store app

[2022-07-04 17:36] nitishpatel commented on #319
Facing Similar Issues
![image](https://user-images.githubusercontent.com/39486276/177199210-b0d5e82f-718c-43a8-a374-e5dd98ba113d.png)

[2022-07-06 04:59] hpoul commented on #319
It was now accepted in the microsoft store. Let me know if you still experience problems. Thanks

[2022-07-06 04:59] #319 closed

[2022-07-06 11:43] Turux commented on #301
As of version 1.9.8+1944 this is now fixed!

Thanks!

[2022-07-06 11:43] #301 closed

[2022-07-08 00:10] Silverhawk85 opened #320 "Disabling screenshot function on Android v1.9.7 has a bug"
The disable screenshot function in the android app seems to have a bug.

Steps to reproduce the behavior:
1. Disable screenshot function in the settings (at this time it works)
2. Close the app
3. Reopen AuthPass
4. Take screeshots although the function seems to be disabled in the settings

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy A6 plus
 - OS: Android

[2022-07-08 09:38] #320 closed

[2022-07-08 10:37] Silverhawk85 commented on #320
I use F-Droid or direct apk download on GitHub. But thanks for the fast response. I have to wait for the full release. :)

[2022-07-08 12:20] hpoul commented on #320
@Silverhawk85 you can download the apks for all builds at https://data.authpass.app/data/artifacts/ so for example https://data.authpass.app/data/artifacts/authpass-sideload-1.9.9_1945.apk

[2022-07-08 12:37] Silverhawk85 commented on #320
Thanks I downloaded it. The bug seems to be fixed. :)

[2022-07-24 21:19] oliverbytes commented on #31
When do you plan to start working on syncing with keychain instead? Seems the only way right now! Kudos for your great work!

[2022-08-03 07:02] tiborrr opened #321 "Typo in error when merging"
**Describe the bug**
Typo in error when merging
![Screen Shot 2022-08-03 at 08 57 42](https://user-images.githubusercontent.com/16014746/182544394-1d43b179-1179-49ec-bf46-78add4e3e073.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new entry
2. Save database

**Expected behavior**
"market" should be "marked"

**Desktop (please complete the following information):**
 - OS: MacOS

[2022-08-04 05:03] FnAndroid commented on #31
Can I choose to write an autofill app extension using Objective-C or webSite? AuthPass is the best open source password management tool, but at the moment it lacks the most important autofill feature.

[2022-08-04 05:35] oliverbytes commented on #31
A separate native iOS AuthPass extension would work I believe

[2022-08-04 14:46] TheRealPenguin12 opened #322 "Authpass won't update (using apt)"
**Describe the bug**
When I update my system it returns:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to shell
2. Run sudo apt update
3. Wait for error
4. See error

**Expected behavior**
The command will output:

[code]

**Screenshots**
_No screenshot available_

**Desktop (please complete the following information):**
 - OS: Raspberry Pi OS, 32-bit
 - Browser: Chrome
 - Versi

[2022-08-05 10:27] DavidJanko-gmail-com commented on #41
Hi,
just tried AuthPass and was looking for a way to connect it to other apps, especially browsers. Am I understanding correctly that there is no such thing yet?
In my opinion, the ideal password manager should serve as an authorization center for other applications, in the simplest case provide specific passwords in a safe way (I don't consider copy&paste to be safe) and manage and log this excha

[2022-08-05 12:32] hlgrondijs commented on #322
I'm getting a similar 404 Not Found error for the `https://packagecloud.io/authpass/authpass/ubuntu` url as well.

[2022-08-05 12:38] hlgrondijs commented on #290
Looks like this is fixed.

[2022-08-05 14:02] desvasicek commented on #322
So for ubuntu too, I guess

[2022-08-06 23:04] Switch123456789 opened #323 "AuthPass adds "www." to the domainname and becomes unable to find a match as a result."
**Describtion:**
Whenever I request authpass to autofill for example "paypal.com" it adds "www." at the beginning of the domainname and can't find the "paypal.com"-entry as result.

**Reproduce:**
1. open a website
2. do autofill
3. look at the top, "www." is added to the domainname

**Expected behavior:**
AuthPass should search the domainname without adding characters.

**Screenshots:**
Domainnam

[2022-08-08 05:51] Trekky12 commented on #290
I can't confirm that this is fixed. After saving the title of the window is still "(kein Titel)"

[2022-08-08 08:43] hlgrondijs commented on #290
Which device and release/version are you using? When I run the latest linux version it is updated using your steps to reproduce.

[2022-08-08 16:00] Trekky12 commented on #290
I am using a Android 9.0 device with AuthPass Version 1.9.7+1940

[2022-08-10 10:25] otozyon commented on #290
+1. I can reproduce this issue on Android 12 with version 1.9.7+1940.

https://user-images.githubusercontent.com/7101476/183878913-e071992f-27ae-47c3-9f04-11b2def952d5.mp4

[2022-08-10 16:58] TheRealPenguin12 commented on #322
I reinstalled.

[2022-08-10 16:58] #322 closed

[2022-08-14 23:35] dtantono opened #324 "it does not work on PCloud account"
**Describe the bug**
I tried to connect the webdav for Authpass client in iOS. But, it does not work on PCloud with 2fa activated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authpass
2. Click on Yes, open my password
3. Scroll down to Load from webdav
4. See error

**Expected behavior**
it should work on PCloud with 2fa

**Screenshots**
![Screenshot 2022-08-15 at 8 26 23](https://u

[2022-08-15 00:04] dtantono opened #325 "Authpass for deb file does not install properly"
**Describe the bug**
missing dependency

**To Reproduce**
Steps to reproduce the behavior:
1. type sudo dpkg -i authpass-linux-1.9.7_1940.deb
2. I got error Preparing to unpack authpass-linux-1.9.7_1940.deb ...
Unpacking authpass (1.9.7+1940) ...
dpkg: dependency problems prevent configuration of authpass:
 authpass depends on libsecret-1-0 (>= 1.15.0); however:
  Version of libsecret-1-0:amd64 on

[2022-08-15 11:37] hpoul commented on #325
guess i should do another release..
please try: https://data.authpass.app/data/artifacts/authpass-linux-1.9.9_1945.deb

[2022-08-15 11:37] #325 closed

[2022-08-15 11:41] hpoul commented on #324
are you sure pcloud supports 2fa for webdav? https://www.reddit.com/r/pcloud/comments/eah56g/2fa_and_webdav/

[2022-08-15 11:41] hpoul commented on #324
(I don't even know how webdav is supposed to work with 2fa.. doesn't really make sense to me..)

[2022-08-15 12:09] dtantono commented on #324
or you can use their API https://docs.pcloud.com/ because I have other app like keepass2android that support PCloud protocol and they can communicate with Pcloud account with 2fa

[2022-08-15 12:25] hpoul commented on #324
Not really a priority for me right now.. but I'd hallily review PRs..
Adding support for another cloud storage backend is pretty straight forward, just needs to implement CloudStorageProvider: https://github.com/authpass/authpass/blob/81b0a7330a56134d40fe9e0a1af5cbd45fd71677/authpass/lib/cloud_storage/cloud_storage_provider.dart#L153

[2022-08-18 09:26] dtantono opened #326 "Authpass 1.9.7 does not open the database with Key file only after logout"
**Describe the bug**
I click load from show menu and then click "use key file" to login and then close the app to logut my credentials. But, after I want signed in back by click last opened files, it does not remember the key file and when I clicked "use key file" and continue. I cannot login directly. So, the workaround is I need to click the three dots and then click hide. Finally, I need to loa

[2022-08-19 03:46] SamarthAsthan commented on #255
@hpoul @E0697 can I know problem in more details with screenshot?

[2022-08-20 19:02] thegalkin commented on #177
I also have this issue. Self-signed, nextcloud, added to android.

[2022-08-20 21:15] hpoul commented on #177
@thegalkin i know this issue exists. I'll happily review any PR.

[2022-09-04 07:25] Turux commented on #268
I am experiencing the same exact issue on MacOS.
The logfile helps retrieving the file but a 'save to device' button would be ideal.

[2022-09-07 15:28] hallmichael868 commented on #221
I'd also appreciate a offline version of this app on Google Play similar to "Keepass2Android Offline" which is hasn't been updated since 1.5 years. It would easy my fear that my database or data could be transferred somewhere.

[2022-09-07 15:31] hpoul commented on #221
@hallmichael868 what problems are you experiencing while using AuthPass offline?

[2022-09-07 20:35] hallmichael868 commented on #221
Sorry if I or the original Poster weren't clear enough. The request is not about being able to use AuthPass offline or in airplane mode. The request is to have a separate version of the app which doesn't use the "view network connections" and "full network access" permissions.
I understand that's a significant overhead for you as a developer but I'm asking nevertheless so you're aware of your user

[2022-09-08 12:47] Gribnif opened #327 "Mac: Minimized window can't be reopened"
**Describe the bug**
On the Mac, it's not possible to reopen a window that has been minimized.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a password list.
2. Click on the yellow "minimize" button in the upper left corner of the window.
3. Now there is no way to reopen the window, unless you use the Dock and have it set to show minimized windows.

**Expected behavior**
AuthPass shou

[2022-09-13 07:08] vladaman commented on #61
@hpoul What if there would be some network consensus ? I would love to see team support feature somehow. Whoever cracks this problem can get big chunk of business users. Because other tools are just commercial and server based (centralized)

[2022-09-14 14:18] CMB opened #328 "WebDAV: the body of PROPFIND requests should be content-type: application/xml"
**Describe the bug**

Authpass sends PROPFIND requests with the content-type of text/plain, but it should
be sending a content type of application/xml.
Quoting from RFC 4918, section 8.2:

I use mod_webdav from lighttpd, and in recent versions, it is very strict.  It rejects PROPFIND with text/plain as the content type.

**To Reproduce**
Steps to reproduce the behavior:
1. Install lighttpd and con

[2022-10-03 12:30] arungovindm2001 commented on #201
Can I be assigned this issue?

[2022-10-03 15:02] hpoul commented on #201
@arungovindm2001 sure, let me know if you need any help

[2022-10-03 16:56] ayush-7607v commented on #267
@hpoul Hello,
 Can I work on this or is the issue resolved ?

[2022-10-05 15:10] kashvigarg commented on #135
hi is this assigned? i'd like to give it a shot

[2022-10-05 15:15] kashvigarg commented on #14
if this isnt closed, id like to learn and contribute to this, help me out here.

[2022-10-14 14:39] ashutoshsaboo opened #329 "Is the project still active?"
Hi, first of all thanks for all your efforts on the app! I was looking for a reliable cross platform keypass client alternative, and this stood out for me!

Wanted to check is the project still active, and are the devs planning on reviving the same? Not seeing many commits, respnses on github issues/even on authpass forum.

Thanks again for all your hard work on the project! :)

[2022-10-14 16:25] hpoul commented on #329
Yes, feel free to submit PRs. My time is currently occupied by paying projects, but I'll happily reviews PRs

[2022-10-14 16:25] #329 closed

[2022-10-19 16:58] Sherlock-Holo commented on #4
@hpoul could you update the readme, if authpass has supported kdbx 4.x :)

[2022-10-19 23:40] viveonline opened #331 "141"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-22 12:28] feelan03 opened #332 "It is not possible to synchronize with Google Drive"
Hello. I have a problem. I was can’t sync with my KDBX file in Google Drive. Can you help me?
![E179987C-065F-43B0-9182-1959CE05088E](https://user-images.githubusercontent.com/57330758/197338923-1d942df8-23e5-4139-ae67-bd1670828f5b.png)

[2022-10-22 12:32] feelan03 commented on #332
![Uploading 9DBDC042-D233-4B27-825C-25092B4FFA64.jpeg…]()

[2022-10-22 16:11] SaifAqqad commented on #332
I have this issue as well 😔

![Screenshot_2022-10-22-19-06-28-461_org.mozilla.firefox.jpg](https://user-images.githubusercontent.com/47293197/197349666-8c7620be-c7aa-4073-ab10-dd9895a93206.jpg)

[2022-10-28 22:02] kmkmahesh commented on #31
I use [Keepass Touch](https://apps.apple.com/us/app/keepass-touch/id966759076) which autofills the passwords

[2022-11-01 21:51] oliverbytes commented on #31
Someone was able to run flutter as iOS extension: https://github.com/flutter/flutter/issues/16092?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDMxOTExNDEyNTozOTYzNjY%3D#issuecomment-1288192913

[2022-11-02 08:58] hpoul commented on #31
@oliverbytes yep, I've seen that.. but it requires a custom patch to run.. and even if that using gets merged into flutter it's not enough to get accepted into the apple app store as far as i can tell.. but we'll see, maybe one day.... 😅
But if someone wants to develop a native ios app extension, I'd be happy to review it help with a PR

[2022-11-02 17:32] ChristianGynnild opened #333 "Android autofill closes keyboard"
The keyboard automatically closes when trying to search in the app drawer with autofill enabled. This makes it impossible to search for apps whenever autofill is enabled.

Android version:EMUI 12.0.0.139
AuthPass version:1.9.7 (from F-droid)

[2022-11-03 15:42] cjtexas commented on #332
Bump! Same here, thanks in advance for addressing this issue :smile:

[2022-11-04 23:22] Derisis13 commented on #332
Same is happening to me on linux. Application source is flathub, version is 1.9.6_1904

[2022-11-05 07:22] juliobm commented on #332
Same in iOS 16.1

[2022-11-15 09:23] feelan03 commented on #332
Bump!